@charset "UTF-8";

/* Neo둥근모 Code */
@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm_code/style.css');

.all_body{
	font-family: 'NeoDunggeunmo Code';
}

.fs_30{
	font-size: 30px;
}

.fs_25{
	font-size: 25px;
}

.fs_20{
	font-size: 20px;
}

.fs_15{
	font-size: 15px;
}

.fs_13{
	font-size: 13px;
}

.pl_20{
	padding-left: 20px;
}

.pt_10{
	padding-top: 10px;
}

.pt_20{
	padding-top: 20px;
}

.pt_30{
	padding-top: 30px;
}

.mt_20{
	margin-top: 20px;
}

.h_50{
	height: 50px;
}

.w_190{
	width: 190px;
}

.fill{
	width: 95%;
}

.center{
	margin-left:auto;
	margin-right:auto;
}

.regist_form{
	width: 1500px;
}

.ta_c{
	text-align: center;
}

.ta_l{
	text-align: left;
}

.ta_r{
	text-align: right;
}

.col_r{
	color: red;
}

.hidden{
	visibility: hidden;
}
