@charset "UTF-8";

/* Neo둥근모 Code */
@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm_code/style.css');

/* 페이지 전체 글꼴 */
.all_body{
	font-family: 'NeoDunggeunmo Code';
}

/* 폰트사이즈 */
.fs_30{
	font-size: 30px;
}

.fs_25{
	font-size: 25px;
}

.fs_20{
	font-size: 20px;
}

.fs_15{
	font-size: 15px;
}

.fs_13{
	font-size: 13px;
}

/* 왼쪽 padding */
.pl_20{
	padding-left: 20px;
}

/* 상단 padding */
.pt_10{
	padding-top: 10px;
}

.pt_20{
	padding-top: 20px;
}

.pt_30{
	padding-top: 30px;
}

/* 상단 margin */
.mt_20{
	margin-top: 20px;
}

/* 요소 높이 */
.h_50{
	height: 50px;
}

/* 요소 넓이 */
.w_190{
	width: 190px;
}

/* 부모요소 넓이에 맞추기 */
.fill{
	width: 95%;
}

/* text 가운데정렬 */
.center{
	margin-left:auto;
	margin-right:auto;
}

/* 회원가입 form 테이블 전체 너비 */
.regist_form{
	width: 1500px;
}

/* 텍스트 가운데정렬 */
.ta_c{
	text-align: center;
}

/* 텍스트 왼쪽정렬 */
.ta_l{
	text-align: left;
}

/* 텍스트 오른쪽정렬 */
.ta_r{
	text-align: right;
}

/* 색 변경 */
.col_r{
	color: red;
}

.refistbackpage {
  width: 100%;
  height: 1024px;
  background-image:url("/files/images/wallpaper/배경3.jpg");
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.registmessage{
	width : 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	text-align: center;
	background:  rgba(255,255,255,0.5);
	padding-bottom: 30px;
	box-shadow:0px 0px 20px 20px rgba(255,255,255,0.5);
	font-family: NeoDunggeunmo Code, Inter;

}
.registcontent{
	width : 1500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
	background:  rgba(255,255,255,0.5);
	box-shadow:0px 0px 40px 40px rgba(255,255,255,0.5);
	font-family: NeoDunggeunmo Code, Inter;
}
.registcontent input{
	height: 30px;
	border: none;
	margin-left: 30px;
}

.registcontent button{
	margin-left: 20px;
	margin-top: 20px;
	padding: 8px;
	background-color: #FD786A;
	border: 1px solid grey;
	border-top-left-radius: 10px;
 	border-top-right-radius: 10px;
  	border-bottom-left-radius: 10px;
  	border-bottom-right-radius: 10px;
    font-family: NeoDunggeunmo Code, Inter;
	font-size: 20px;
}
.registcontent .idcheck{
	margin-left: 30px;
	margin-bottom: 20px;
	padding: 4px;
	background-color: #DEA19B;
	border: 1px solid grey;
	border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
  	border-bottom-left-radius: 5px;
  	border-bottom-right-radius: 5px;
    font-family: NeoDunggeunmo Code, Inter;
	font-size: 15px;	
}
.registcontent .postcodeSearch{
	margin-left: 30px;
	padding: 4px;
	background-color: #DEA19B;
	border: 1px solid grey;
	border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
  	border-bottom-left-radius: 5px;
  	border-bottom-right-radius: 5px;
    font-family: NeoDunggeunmo Code, Inter;
	font-size: 15px;	
}
.checkResult{
	height: 30px;
	margin-left: 30px;
	font-size: 15px;
	width: 200px;	
}
