
/*전체*/
.place_section {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}


/* 제휴매장보기 버튼*/
.place_partnership {
  width: 100px;
  color: rgba(255, 255, 255, 1); 
  background-color: rgb(255, 0, 0);
  position: absolute;
  left: 150px;
  bottom: 690px;
 
}

/*전체 매장 보기 버튼*/
.place_allplace {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  left: 280px;
  bottom: 690px;
 
}

/*추천 모임 장소 글씨*/
.place_recommend {
  width: 300px;
  color: white;
  position: absolute;
  top: 115px;
  left: 850px;
  font-family: Inter;
  font-size:40px;
  text-align: center;
  font-family: 'system-ui';
}
/*지도*/
.place_map {
  width: 802px;
  height: 674px;
  opacity: 1;
  position: absolute;
  top: 278px;
  left: 150px;
  overflow: hidden;
}
/*카페 상세보기*/
.place_detail {
  width: 447px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 400px;
  left: 1100px;
  font-family: Inter;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}

.place_line{
	position: absolute;
	width: 500px;
	bottom: 500px;
	top:200px;
	left: 750px;
}

.place_lines{
	position: absolute;
	width: 500px;
	bottom: 500px;
	top: 80px;
	left: 750px;
}

/*상세보기 테이블*/
.place_detail_table{
	position: absolute;
	background: white;
	width: 700px;
	height : 500px;
	bottom: 300px;
	top:300px;
	left: 1000px;
	 opacity: 0.8;
}

/*상세보기 이름 css*/
.place_name_css{
	text-align: center;
	width: 350px;
}

/*상세보기 전화번호 css*/
.place_tel_css{
	text-align: center;
	width: 250px;
}
/*상세보기 주소 css*/
.address_css{
	text-align: center;
	width: 700px;
}



/*제휴 글씨 박스*/
.place_partnership_box {
  width: 700px;
  height: 100px;
  position: absolute;
  top: 830px;
  left: 1000px;
  background-image:url("/files/images/wallpaper/제휴 매장 박스.png");
  background-size: cover;
  overflow: hidden;
}
/*제휴 글씨*/
.place_partnership_benefit {
  width: 550px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 30px;
  font-family: Inter;
  font-size: 20px;
  font-weight: Regular;
  opacity: 1;
  text-align:center;
  font-family: 'NeoDunggeunmo Code';
  margin: auto;
  text-align: center;
}
/*다음 버튼*/
.place_next{
	position: absolute;
	left: 660px;
	bottom: 1px;
	font-size: 20px;
}
/*이전 버튼*/
.place_prev{
	position: absolute;
	bottom: 1px;
	font-size: 20px;
}


/* 페이징 시 숫자 포커스*/
.active {
	font-weight: bold;
}

/* 페이지 숫자*/
.pagination{
	
	position: absolute;
	bottom: 1px;
	left: 280px;
	white-space: nowrap;
}


/*이 위에는 지도에 관한 css 임*/
/*****************************/

/*이 아래부터는 문의 사항에 대한 css임*/

/*문의사항 배경*/
.mybotpage {
  width: 100%;
  height: 1024px;
  background-image:url("/files/images/wallpaper/배경7.jpg");
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}

.mybotpages {
  width: 100%;
  height: 1024px;
  background-image:url("/files/images/wallpaper/배경3.jpg");
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}




/*회색 배경*/
.question_box {
  width: 1400px;
  height: 700px;
  background: rgba(217,217,217,0.8);
  
  position: absolute;
  top: 250px;
  left: 200px;
  overflow: hidden;
}

/*문의 사항 제목 */
.question_title{
	position: absolute;
	width : 1021px;
	left: 180px;
	top: 60px;
}

/*문의 사항 내용*/
.question_content{
	position: absolute;
	width : 1021px;
	height: 500px;
	top: 100px;
	left: 180px;
}
/*옵션 박스*/
.qustion_type{
	position: absolute;
	width : 500px;
	left: 180px;
	top: 20px;
}
/*아이디 입력 창*/
.question_id{
	position: absolute;
	left: 700px;
	top: 20px;
	width : 500px;
}
/*문의사항 보내기 버튼*/
.question_submit{
	position: absolute;
	left: 1100px;
	bottom: 50px;
}


/*고객 센터 글씨*/
.question_question{
  width: 400px;
  color: white;
  position: absolute;
  top: 115px;
  left: 730px;
  font-family: Inter;
  font-size:40px;
  text-align: center;
  font-family: 'system-ui';
}

/*팝업 백그라운드 색상*/
.popup_overlay {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 display: none;
}

/*팝업*/
.popup_content {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-image: url("/files/images/간판.png");
 background-size: contain;;
 width: 595px;
 height: 300px;
 padding: 20px;
 text-align: center;
 display: none;
}

/* a태그 속성없애기 */
.no_a_st2 a:link,/* 링크컬러화이트 */
.no_a_st2 a:visited,/* 방문햇던링크컬러화이트 */
.no_a_st2 a:active,
.no_a_st2{
  text-decoration-line : none;
  color: white;
  text-decoration:none; /* 마우스호버없음 */
  cursor: pointer;
}


/* 테이블 스타일 */
.table_wrapper {
	position:absolute;
	top:300px;
	left: 400px;
	

}

/*문의 사항 테이블*/
.question_table{
border-collapse: collapse;
left: 100px;
}
        
.question_td {
padding: 10px;
}

/*자주 묻는 문의 사항 버튼*/
.question_button{
    border: none;
    padding: 0;
    cursor: pointer;
	width: 250px;
	height: 150px;
	font-size: 25px;
    color:white;
	background-color: rgba(116, 116, 116, 0.8);
	box-shadow: 0px 0px 5px 5px rgba(116, 116, 116, 0.8);
}


/*자주 찾는 문의 사항*/
.question_head_first{
	position: absolute;
	font-size: 25px;
	color: white;
	top: 230px;
	left: 800px;
}


/*다른 도움이 필요하신가요? 글씨*/
.question_head_second{
	position: absolute;
	font-size: 25px;
	color: white;
	top: 700px;
	left: 800px;
}
/*툭툭 문의하기 버튼*/
.question_btn {
  position: absolute;
  background: none;
  border: none;
  top: 780px;
  left: 600px;
  cursor: pointer;
  width: 250px;
  height: 150px;
}
/*버튼 안에 이미지*/
.question_btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*문의 사항 남기기 버튼*/
.question_btns {
  position: absolute;
  background: none;
  border: none;
  top: 765px;
  left: 990px;
  cursor: pointer;
  width: 250px;
  height: 150px;
}
/*버튼 안에 이미지*/
.question_btns img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*버튼안에 있는 Q*/
.question_Q{
	color: black;
}

/*버튼 안에 이미지*/
.question_img{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 20px;
	left: 95px;
}

/*문의 사항 남기기*/
.qusetion_help{
	position: absolute;
	font-size: 25px;
	color: white;
	top: 750px;
	left: 1023px;
	text-align: center;
}
/*툭툭 문의하기*/
.qusetion_helps{
	position: absolute;
	font-size: 25px;
	color: white;
	top: 750px;
	left: 640px;
	
}



/* 팝업 닫기 버튼 */
.pop_btn{
	position: relative;
	top:130px;
	width: 50px;
	height: 30px;
	font-family: 'NeoDunggeunmo Code';
	font-size: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #C7813C;
    border: 3px solid #7B4E23;
}
/* pop내용 */
.popstrong{
	margin-top: 200px;
	font-family: 'NeoDunggeunmo Code';
	position: relative;
	top: 10px;
	color: white;
	position: relative;
	top: 50px;
}
.popH2{
	position: relative;
	top:80px;
	width: 400px;
	font-family: 'NeoDunggeunmo Code';
	color: white;
	margin: auto;
}
.popa{
	position: relative;
	top:100px;}
/*선*/
.qusetion_line{
	position: absolute;
	width: 500px;
	bottom: 500px;
	top:170px;
	left: 690px;
}
/*선*/
.qusetion_lines{
	position: absolute;
	width: 500px;
	bottom: 500px;
	top: 100px;
	left: 690px;
}

/*지도 배경*/
.mapbackpage{
	width: 100%;
  height: 1024px;
  background-image:url("/files/images/wallpaper/배경5.png");
  background-size: cover;
  overflow: hidden;
}


/*여기 부터는 상품 상세 보기 salesbook*/
.bookpage {
  width: 100% ;
  height: 1024px;
  background-image:url("/files/images/wallpaper/배경6.png");
  background-size: cover;
  overflow: hidden;
}

.book_text {
    text-align: center;
    color: rgb(255, 255, 255);
}

.book_item {
    width: 300px;
    margin: 10px;
}

.book_image {
    left: 300px;
    position: absolute;
    height: 400px;
    width: 300px;
    top: 100px;
}

.book_title {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    color: rgb(255, 255, 255);
    left: 700px;
    top: 150px;
}

.book_simple_info {
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    color: rgb(255, 255, 255);
    left: 700px;
    top: 250px;
    width: 700px;
    height: 180px;
    overflow: auto;
}

.book_writer {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    color: rgb(255, 255, 255);
    left: 1200px;
    top: 150px;
}

.book_price {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255); 
    position: absolute;
    left: 700px;
    top: 450px;
}

.book_btn{
   	font-size: 17px;
    font-weight: bold;
    color: black;
    position: absolute;
    left: 1000px;
    top: 450px;
}

.book_btns{
	font-size: 17px;
    font-weight: bold;
    color: black;
    position: absolute;
    left: 1100px;
    top: 450px;
}




.book_detail {
    font-size: 17px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 300px;
    top: 600px;
    width: 1200px;
    height: 350px;
    overflow: auto;
}

.book_view_container {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 300px;
    top: 500px;
}
.book_views_container {
    position: absolute;
    left: 300px;
    top: 570px;
    width: 1200px;
}
.book_hr{
    position: absolute;
    width: 1200px;
    left: 300px;
    top: 70px;
}
