@charset "utf-8";

/* ================START OF FONT============================== */
/* Neo둥근모 Code */
@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm_code/style.css');
/* ================END OF FONT============================== */


/* ================START OF ALL============================== */
.cursor{
cursor: pointer;
}
/* ================END OF ALL============================== */


/* ================START OF HEADER============================== */
.header {
	background-color: black;
	height: 70px;
	align-items: center;
}
.header_logo{
	display: inline;
	
}
.header_logo img{
	height: 50px;
	display: inline;
	padding-top: 10px;
	padding-left: 20px;
}
.header_nav{
	font-family: 'NeoDunggeunmo Code';
	font-size: 15px;
	color: white;
	margin-right: 20px;
	padding-top: 25px;
	display: inline;
	float: right;
}
.header_nav td {
	padding-right : 15px;
	text-align: center;
	cursor: pointer
}
/* ================END OF HEADER============================== */




/* ================START OF FOOTER============================== */
/* 푸터 전체 */
.footer {
	background-color: black;
	height: 200px;
	align-items: center;
}

/* 푸터 좌측(1열) */
.footer_left{
	font-family: 'NeoDunggeunmo Code';
	font-size: 15px;
	color: white;
	display: inline;
	float:left;
	width:40%;
	margin-left: 10%;
}

/* 푸터 좌측 폰트 사이즈 */
.footer_left a {
	font-size: 10px;
	
}

/* 푸터 우측(2열) */
.footer_right{
	font-family: 'NeoDunggeunmo Code';
	font-size: 10px;
	color: white;
	display: inline;
	float: right;
	width:30%;
	padding-top: 2%;
}

/* 푸터 우측 위치정리 */
.footer_right a{
	margin-right: 20px;
}

/* 푸터 우측 info내용 위치정리 */
.footer_info{
	padding-top: 5%;
}
/* ================END OF FOOTER============================== */

/* ================START OF MAIN.jsp============================== */
/* 배경 */
.mainbackpage {
  width: 100%;
  height: 1024px;
  background-image:url("/files/images/wallpaper/main_wallpaper.jpg");
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
/* 마케팅메세지1 */
.marketing_messge1 {
  width: 600px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 160px;
  left: 208px;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
/* 마케팅메세지2 */
.marketing_messge2 {
  width: 500px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 300px;
  left: 227px;
  font-family:NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
/* 로그인폼 */
.loginform_back {
  width: 379px;
  height: 442px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 131px;
  right: 10%;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.loginform_login {
  width: 121px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 154px;
  right: 10%;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.password_input {
  width: 323px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 420px;
  right: 213px;
  overflow: hidden;
}
.id_input {
  width: 323px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 286px;
  right: 213px;
  overflow: hidden;
}
.loginform_id {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 243px;
  right: 25%;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.loginform_password {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 373px;
  right: 25%;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.loginform_submit{
  width: 98px;
  color: rgba(255,255,255,1);
  background: rgba(217,217,217,1);
  position: absolute;
  top: 498px;
  right: 200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.go_regist{
  width: 323px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 739px;
  right: 11%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  background: url("/files/images/regist_btn.png") no-repeat;
  cursor: pointer;
}
.kakaologin_Btn {
  width: 323px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 605px;
  right: 11%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  background: url("/files/images/kakao_login_btn.png") no-repeat;
  cursor: pointer;
}
.googlelogin_Btn{
  width: 323px;
  height: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 1;
  position: absolute;
  top: 670px;
  right: 11%;
  overflow: hidden;
  background: url("/files/images/google_login_btn.png") no-repeat;
  cursor: pointer;
}

/* ================END OF MAIN.jsp============================== */

/* ================ START OF MY PAGE ====================== */
.mypagebackpage {
  width: 100%;
  height: 1024px;
  background-image:url("/files/images/mypage/mypage_back.jpg");
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
/* ================ START OF SUBNAV ====================== */
.subnav {
  width: 250px;
  height: 631px;
  background: white;
  opacity: 0.7;
  position: absolute;
  top: 140px;
  left: 100px;
  border: 10px solid rgba(112,112,112,1);
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.subnav_menu {
  width: 247px;
  color: rgba(0,0,0,1);
  opacity: 1;
  text-align: left;
}
.subnav_menu a{
  display: block;
  padding-top: 35px;
  padding-left: 10px;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 32px;
  text-align: center;
  cursor: pointer
}
/* 이거 _post만 바꾸고 top조정하면 메뉴선택 바뀜 */
.subnav_select_message { 
  width: 200px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 7px solid rgba(217,217,217,1);
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
}
.subnav_select_calendar{ 
  width: 200px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 20px;
  border: 7px solid rgba(217,217,217,1);
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
}
/* ================ END OF SUBNAV ====================== */


/* ================ START OF MY_MESSAGE ====================== */
.page_name {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 130px;
  left: 950px;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.message_back {
  width: 1000px;
  height: 574px;
  background: rgba(217,217,217,1);
  opacity: 0.5;
  position: absolute;
  top: 186px;
  left: 500px;
  overflow: hidden;
}
.message_table{
  width: 1000px;
  height: 530px;
  position: absolute;
  top: 186px;
  left: 500px;
  overflow: hidden;
 
  opacity: 1;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 32px;
  text-align: center;
}
.table_menu1{
  font-size: 32px;
  padding-left: 50px;
  padding-right: 50px;
}
.table_menu2{
  font-size: 32px;
  padding-left: 50px;
  padding-right: 50px;
}
.table_menu3{
  font-size: 32px;
  width:500px;
  height:50px;
  padding-left: 50px;
  padding-right: 50px;
}
.message_td{
  font-size: 20px;
}
.send_message{
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 20px;
  text-align: right;
   position: absolute;
  bottom: 20px;
  right: 20px;
  
}
/* ================ END OF MY_MESSAGE ====================== */

/* ================ START OF MY PAGE/SEND_MESSAGE & DETAIL_MESSAGE ====================== */
.send_message_backpage{
  width: 400px;
  height: 500px;
  background-image:url("/files/images/mypage/sendpost_back.png");
  background-size: cover;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.send_message_name{
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 32px;
  color: white;
  opacity: 1;
  text-align: center;
  padding-top: 20px;
}
.sendmessage_menu{
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 20px;
  color: white;
  text-align: left;
}
.sendmessage_form{
  padding-top: 10px;
  padding-left: 40px;
  width: 400px;
  height: 400px;
}
.sendmessage_btn{
  width:100px;
  height: 40px;
  position: absolute;
  top: 470px;
  left:300px;
}
.message_title 
, .receive_id
,.send_id{
  height: 30px;	
  width: 300px;
}
.message_content{
  height:130px;	
  width: 300px;
}
/* ================ END OF MY PAGE/SEND_POST ====================== */
/* ================ START OF CALENDER ====================== */
.calendar_table{
  width: 1000px;
  height: 680px;
  position: absolute;
  top: 150px;
  left: 500px;
  overflow: hidden;
 
  opacity: 1;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 20px;
  text-align: center;
}
.calendar_back {
  width: 1000px;
  height: 680px;
  background: rgba(217,217,217,1);
  opacity: 0.5;
  position: absolute;
  top: 150px;
  left: 500px;
  overflow: hidden;
}
/* ================ END OF CALENDER ====================== */

/* ================ END OF MY PAGE ====================== */