@charset "utf-8";

/* ================START OF FONT============================== */
/* Neo둥근모 Code */
@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm_code/style.css');
/* ================END OF FONT============================== */


/* ================START OF ALL============================== */
.cursor{
cursor: pointer;
}
.fs15{
font-size: 15px;
}
.fs17{
font-size: 17px;
}
.fs20{
font-size: 20px;
}
.l_margin20{
margin-left:  20px;
}
.center_text{
	text-align: center;
}
.fs_light{
font-weight: lighter;
}
.fs_bord{
font-weight: bold;}
.w30per{
	width: 30%;
}
.w70per{
	width: 70%;
}
.color_white{
	color: floralwhite;
}
.hidden{
	visibility: hidden;
}
.display_block{
	display: block;
}
/* ================END OF ALL============================== */


/* ================START OF HEADER============================== */
.header {
	background-color: black;
	height: 70px;
	align-items: center;
}
.header_logo{
	display: inline;
	
}
.header_logo img{
	height: 50px;
	display: inline;
	padding-top: 10px;
	padding-left: 20px;
}
.header_nav{
	font-family: 'NeoDunggeunmo Code';
	font-size: 15px;
	color: white;
	margin-right: 20px;
	padding-top: 25px;
	display: inline;
	float: right;
}
.header_nav td {
	padding-right : 15px;
	text-align: center;
	cursor: pointer
}
.header_nav a:link,/* 링크컬러블랙 */
.header_nav a:visited,/* 방문햇던링크컬러블랙 */
.header_nav a:active, /* 마우스호버없음 */
.header_nav a{
  text-decoration-line : none;
  color: white;
  text-decoration:none; /* 마우스호버없음 */
}
/* ================END OF HEADER============================== */




/* ================START OF FOOTER============================== */
/* 푸터 전체 */
.footer {
	background-color: black;
	height: 200px;
	align-items: center;
}

/* 푸터 좌측(1열) */
.footer_left{
	font-family: 'NeoDunggeunmo Code';
	font-size: 15px;
	color: white;
	display: inline;
	float:left;
	width:40%;
	margin-left: 10%;
}

/* 푸터 좌측 폰트 사이즈 */
.footer_left a {
	font-size: 10px;
	
}

/* 푸터 우측(2열) */
.footer_right{
	font-family: 'NeoDunggeunmo Code';
	font-size: 10px;
	color: white;
	display: inline;
	float: right;
	width:30%;
	padding-top: 2%;
}

/* 푸터 우측 위치정리 */
.footer_right a{
	margin-right: 20px;
}

/* 푸터 우측 info내용 위치정리 */
.footer_info{
	padding-top: 5%;
}
/* ================END OF FOOTER============================== */

/* ================START OF MAIN.jsp============================== */
/* 배경 */
.mainbackpage {
  width: 100%;
  height: 1024px;
  background-image:url("/files/images/wallpaper/main_wallpaper.jpg");
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.all_marketing_message_back{
	width: 400px;
	height: 130px;
	background-color:black;
	position: absolute;
  	top: 160px;
  	left: 20%;
  	padding: 3%;
  	opacity: 0.7;
  	box-shadow:0px 0px 50px 100px black;
}
.all_marketing_message{
	width: 400px;
	height: 150px;
	position: absolute;
  	top: 10%;
  	left: 15%;
  	padding: 3%;
}
/* 마케팅메세지1 */
.marketing_messge1 {
  width: 600px;
  color:white;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;

}
/* 마케팅메세지2 */
.marketing_messge2 {
  padding-top: 10%;
  width: 700px;
  color: #c8c8c8;
  font-family:NeoDunggeunmo Code, Inter;
  font-weight: lighter;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
/* 로그인폼 */
.loginform_back {
  width: 379px;
  height: 442px;
  background:black;
  opacity: 0.8;
  position: absolute;
  top: 10%;
  right: 10%;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  box-shadow:0px 0px 30px 30px rgb(0, 0, 0);
  overflow: hidden;
}
.loginform_login {
  width: 100%;
  color:white;
  position: absolute;
  top: 2%;
  font-family: Papyrus, fantasy; 
  font-size: 40px; 
  font-style: normal;
  opacity: 1;
  text-align: center;
}
.loginform_id {
  width: 54px;
  color:floralwhite;
  position: absolute;
  top: 20%;
  left: 5%;
  font-family: Papyrus, fantasy; 
  font-size: 30px; 
  font-style: normal;
  opacity: 1;
  text-align: left;
}
.loginform_password {
  width: 53px;
  color:floralwhite;
  position: absolute;
  top: 50%;
  left: 5%;
  font-family: Papyrus, fantasy; 
  font-size: 30px; 
  font-style: normal;
  opacity: 1;
  text-align: left;
}
.id_input {
  width: 80%;
  height: 10%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30%;
  left: 5%;
  overflow: hidden;
}
.password_input {
  width: 80%;
  height: 10%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 60%;
  left: 5%;
  overflow: hidden;
}
.loginform_submit{
  width: 120px;
  color: rgba(255,255,255,1);
  background:black;
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-family: Papyrus, fantasy; 
  font-size: 20px; 
  font-style: normal;
  opacity: 1;
  text-align: center;
  border: none;
}
.kakaologin_Btn {
  width: 323px;
  height: 50px;
  opacity: 0.8;
  position: absolute;
  top: 605px;
  right: 11%;
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow:0px 0px 5px 5px #FEE500;
  overflow: hidden;
  background: url("/files/images/kakao_login_btn2.png") no-repeat;
  cursor: pointer;
}
.googlelogin_Btn{
  width: 323px;
  height: 50px;
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow:0px 0px 5px 5px #FFFFFF;
  opacity: 0.8;
  position: absolute;
  top: 680px;
  right: 11%;
  overflow: hidden;
  background: url("/files/images/google_login_btn2.png") no-repeat;
  cursor: pointer;
}
.go_regist{
  width: 323px;
  height: 50px;
  opacity: 0.8;
  position: absolute;
  top: 759px;
  right: 11%;
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow:0px 0px 5px 5px #C55D50;
  overflow: hidden;
  background: url("/files/images/regist_btn2.png") no-repeat;
  cursor: pointer;
}
/* ================END OF MAIN.jsp============================== */
/* ================START OF LOGINMAIN.jsp============================== */
/* 배경 */
.loginmain_wallpaper {
  width: 100%;
  height: 2600px;
  background-image:url("/files/images/wallpaper/loginmain_wallpaper.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.loginmain1_back{
	width: 600px;
	height: 70px;
	background-color:black;
	position: absolute;
  	top: 16%;
  	left: 20%;
  	padding: 3%;
  	opacity: 0.5;
  	box-shadow:0px 0px 50px 100px black;
}
.loginmain1{
	width:100%;
	height: 1200px;
}
.go_zep{
	width:200px;
	height:200px;
	border: 5px solid white;
	background-color: black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
  	top: 15%;
  	left: 20%;
  	font-family: Papyrus, fantasy; 
	font-weight: Regular;
    font-size: 50px;
    text-align: center;
    color: white;
  	
}
.loginmain1_message{
	position: absolute;
  	top: 17%;
  	left: 32%;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
    font-size: 15px;
    color: white;
}
.loginmain2{
	position: absolute;
	top: 1200px;
	width:100%;
	height: 1024px;
}
.loginmain_name_back{
  width: 400px;
  height: 100px;
  background:black;
  opacity: 0.8;
  margin-left :40%;
  margin-top :20%;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  box-shadow:0px 0px 30px 30px red;
  overflow: hidden;
  display: inline-block;
}
.loginmain_name{
	width: 400px;
	text-align: center;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
    font-size: 30px;
    color: white;
    margin-top: 25%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 37px;
	border-top-right-radius: 37px;
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
    box-shadow:0px 0px 30px 30px rgba(0,0,0,0.7);
    background:rgba(0,0,0,0.7);
}
.loginmain_name hr{
	width: 90%;
	position: absolute;
	top:38%;
	left:1%;
	background:white;
    height:3px;
    border:0;
    color: white;
    margin-left: 5%;
}
.loginmain_table_back{
	width : 800px;
	padding-bottom:5%;
	border-top-left-radius: 37px;
	border-top-right-radius: 37px;
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
    box-shadow:0px 0px 30px 30px rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.5);
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
.loginmain_table{
	width : 800px;
	margin: auto;
	text-align: center;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
    font-size: 20px;
    color: white;
    table-layout: fixed;
}
.loginmain_table td{
	padding-top: 5%;
}
.loginmain_table img{
	width: 200px;
	height: 200px;
	margin: auto;
}
/* ================END OF LOGINMAIN.jsp============================== */
/* ================ START OF MY PAGE ====================== */
.mypagebackpage {
  width: 100%;
  height: 1024px;
  background-image:url("/files/images/mypage/mypage_back.jpg");
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
/* ================ START OF SUBNAV ====================== */
.subnav {
  width: 250px;
  height: 631px;
  background: white;
  opacity: 0.7;
  position: absolute;
  top: 140px;
  left: 100px;
  border: 10px solid rgba(112,112,112,1);
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.subnav_menu {
  width: 247px;
  color: rgba(0,0,0,1);
  opacity: 1;
  text-align: left;
}
.subnav_menu a:link,/* 링크컬러블랙 */
.subnav_menu a:visited,/* 방문햇던링크컬러블랙 */
.subnav_menu a:active, /* 마우스호버없음 */
.subnav_menu a{
  display: block;
  padding-top: 35px;
  padding-left: 10px;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  text-decoration-line : none;
  color: black;
  text-decoration:none; /* 마우스호버없음 */
}

.subnav_select { 
  width: 220px;
  height: 50px;
  opacity: 1;
  border: 7px solid rgba(217,217,217,1);
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
}
/* 이거 _post만 바꾸고 top조정하면 메뉴선택 바뀜 */
.subnav_select_message { 
  position: absolute;
  top: 20px;
  left: 10px;
}
.subnav_select_calendar{ 
  position: absolute;
  top: 85px;
  left: 10px;
}
.subnav_select_mygame{
  position: absolute;
  top: 150px;
  left: 10px;
}
.subnav_select_info{
  position: absolute;
  top: 220px;
  left: 10px;
}
.subnav_select_post{
  position: absolute;
  top: 285px;
  left: 10px;
}
.subnav_select_qna{
  position: absolute;
  top: 350px;
  left: 10px;
}
.subnav_select_friends{
  position: absolute;
  top: 420px;
  left: 10px;
}
.subnav_select_purchase{
  position: absolute;
  top: 480px;
  left: 10px;	
}
.subnav_select_contest{
  position: absolute;
  top: 550px;
  left: 10px;	
}
/* ================ END OF SUBNAV ====================== */


/* ================ START OF MY_MESSAGE ====================== */
.page_name {
  width: 1000px;
  color: black;
  position: absolute;
  top: 130px;
  left: 500px;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.message_back {
  width: 1000px;
  height: 574px;
  background: rgba(217,217,217,1);
  opacity: 0.5;
  position: absolute;
  top: 186px;
  left: 500px;
  overflow: hidden;
  
}
.message_table{
  width: 1000px;
  height: 570px;
  position: absolute;
  top: 186px;
  left: 500px;
  overflow: hidden;
  opacity: 1;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 32px;
  text-align: center;
  margin: auto;
  table-layout: fixed;
}
.message_table_size{
	height: 520px;
	overflow:auto;
}
.message_table table{
  table-layout: fixed;
}
.table_menu1{
  height: 40px !important;
  font-size: 32px;
  padding-left: 50px;
  padding-right: 50px;
}
.table_menu2{
  font-size: 32px;
  padding-left: 50px;
  padding-right: 50px;
}
.table_menu3{
  font-size: 32px;
  width:450px;
  height:50px;
  padding-left: 50px;
  padding-right: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
}
.message_td{
  height: 10%;
  width : 450px;
  font-size: 20px;
  padding : 10px;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space:nowrap !important;
  text-align: left;
}
.send_message{
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 20px;
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
  
}
.message_td a{
  text-decoration-line : none;
  color: black;
  text-decoration:none;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space:nowrap !important;
}
.message_td a:link,/* 링크컬러블랙 */
.message_td a:visited,/* 방문햇던링크컬러블랙 */
.message_td a:active /* 마우스호버없음 */
{
  text-decoration-line : none;
  color: black;
  text-decoration:none; /* 마우스호버없음 */
}

/*START스크롤 바*/
.message_table_size::-webkit-scrollbar {
    width: 20px;
  }
.message_table_size::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 5px solid transparent;
    
}
.message_table_size::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
/*END스크롤 바*/
/* ================ END OF MY_MESSAGE ====================== */

/* ================ START OF MY PAGE/SEND_MESSAGE & DETAIL_MESSAGE ====================== */
.send_message_backpage{
  height: 100%;
  background-image:url("/files/images/wallpaper/배경1.jpg");
  background-size: contain;
  opacity: 1;
  overflow: hidden;
}
.send_message_name_back{
  background-color: black;
  box-shadow:0px 0px 20px 20px black;
  position: absolute;
  top: 5%;
  left: 25%;
  height: 7%;
  width: 50%;
  opacity: 0.5;
}
.send_message_name{
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 32px;
  color: ghostwhite;
  text-align: center;
  padding-top: 20px;
  opacity: 1 !important;
}
.sendmessage_menu{
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 20px;
  color: white;
  text-align: left;
}
.sendmessage_form{
  padding-top: 60px;
  padding-left: 40px;
  width: 400px;
  height: 400px;
}
.sendmessage_btn{
  width:100px;
  height: 40px;
  margin-left: 60%;
  margin-bottom: 5%;
}
.message_title 
, .receive_id
,.send_id{
  height: 30px;	
  width: 300px;
}
.message_content{
  height:110px;	
  width: 300px;
}
/* ================ END OF MY PAGE/SEND_POST ====================== */
/* ================ START OF CALENDER ====================== */
.calendar_table{
  width: 1000px;
  height: 680px;
  position: absolute;
  top: 150px;
  left: 500px;
  overflow: hidden;
 
  opacity: 1;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 20px;
  text-align: center;
}
.calendar_back {
  width: 1000px;
  height: 680px;
  background: rgba(217,217,217,1);
  opacity: 0.5;
  position: absolute;
  top: 150px;
  left: 500px;
  overflow: hidden;
}
/* ================ END OF CALENDER ====================== */
/* ================ START OF MYGAME ====================== */
.game_back {
  width: 1000px;
  height: 850px;
  background: rgba(217,217,217,1);
  opacity: 0.5;
  position: absolute;
  top: 136px;
  left: 500px;
  overflow: hidden;
}
.game_table{
  width: 1000px;
  height: 850px;
  position: absolute;
  top: 136px;
  left: 500px;
  overflow: hidden;
 
  opacity: 1;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 32px;
}
.my_game_title1 {
  width: 1000px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 20px;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
}
.my_game_title2 {
  width: 1000px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 220px;
  left: 20px;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
}
.my_game_title3 {
  width: 1000px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 540px;
  left: 20px;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
}
.game_line1{
	width: 98%;
	position: absolute;
	top:40px;
	left:1%;
	background:black;
    height:1px;
    border:0;
}
.game_line2{
	width: 98%;
	position: absolute;
	top:260px;
	left:1%;
	background:black;
    height:1px;
    border:0;
}
.game_line3{
	width: 98%;
	position: absolute;
	top:580px;
	left:1%;
	background:black;
    height:1px;
    border:0;
}
.mygame_tag{
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 20px;
  text-align: center;
}
.mygame_entry_request{
	padding-left: 90px;
	width: 300px;
}
.bxslider_size{
	padding-top: 70px;
	padding-left: 50px;
	width: 930px;
}
.bxslider_size2{
	padding-top: 35px;
	padding-left: 50px;
	width: 930px;
	text-align: center;
}
.bxslider_size3{
	padding-top: 70px;
	padding-left: 50px;
	width: 930px;
	text-align: center;
}
.bxslider li{
	width: 300px;
}
.bxslider li img{
	height: 100px;
}
.bx-wrapper {
	background: none;
	border:none;
}
.mygame_entry_request img{
	margin: auto;
    display: block;
}
.mygame_tag{
  width:50px;
  background-color : #6AB3FD;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding:3px;	
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  margin: auto;
  display: block;
}
.mygame_master_title{
	height: 10px;
}
.height1{height: 1px;}
.mygame_master{
	width: 900px;
}
.mygame_go_calendar{
  width:90px;
  background-color : #FD786A;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding:3px;	
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  margin: auto;
  display: block;
}
/* ================ END OF MYGAME ====================== */
/* ================ START OF MY_INFO ====================== */
.my_img{
	width: 400px;
	align-content: center;	
	margin-top: 20px;
	margin-left:10%;
	display: block;
}
.my_img img{
	width: 300px;
	align-content: center;	
	display: block;
}
.img_modify_real[type="file"]{
	width: 1px;
	height: 1px;
	background-color : black;
	display: inline-block;
}
.img_modify{
	width: 100px;
	height: 30px;
	background-color : black;
	color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	display: block;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
	font-size: 18px;
	float:right;
	margin-right: 100px;
	margin-top: 20px;
	display: inline;
}
.my_info{
	width: 500px;
	align-content: center;	
	margin: 10px;
	display: block;
	position: absolute;
	top: 0px;
	left: 50%;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: bolder;
	font-size: 20px;
}
.my_info div{
	margin: 10px;
}
.info_input{
	display: block;
	height: 30px;
	width: 300px;
	margin: 10px;
}
.info_input2{
	display: inline;
	height: 30px;
	width: 300px;
	margin: 10px;
}
.info_area{
	display: inline;
	height: 200px;
	width: 300px;
	margin: 10px;
}
.addr_search{
	width: 80px;
	height: 30px;
	background-color : black;
	color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	display: block;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: lighter;
	font-size: 15px;
	float:right;
	margin-right: 90px;
	margin-top:10px;
	text-align: center;
}
.info_modi{
	width: 130px;
	height: 30px;
	background-color : black;
	color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	display: block;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
	font-size: 18px;
	float:right;
	margin-right: 100px;
	margin-top: 20px;
}

/* START플레이리스트*/
.myinfo_play_list{
	width: 400px;
	align-content: center;	
	margin-top: 10%;
	margin-left:5%;
	display: block;	
	position: absolute;
}
.myinfo_play_list_scroll{
	width:100%; 
	height:300px; 
	overflow:auto;
	margin-top: 5%;	
	}
/*START스크롤 바*/
.myinfo_play_list_scroll::-webkit-scrollbar {
    width: 20px;
  }
.myinfo_play_list_scroll::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 5px solid transparent;
    
}
.myinfo_play_list_scroll::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
/*END스크롤 바*/
.myinfo_play_list_table{
	font-size: 15px;
	text-align: center;
	width: 100%;
	table-layout: fixed;	
}
.myinfo_play_list_table td{
	border: 1px solid;
	margin-top: -5%;
	height: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.myinfo_play_list_td{
	font-size: 20px;
}
/* END플레이리스트*/
/* ================ END OF MY_INFO ====================== */
/* ================ START OF MY_POST ====================== */
.post_back_table{
  width: 1000px;
  height: 575px;
  position: absolute;
  top: 186px;
  left: 500px;
  overflow: hidden;
  opacity: 1;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 32px;
  text-align: center;
  table-layout: fixed;
}
.back_heiget_90per{
	height: 90%;
}
.my_post_table{
	width: 100%;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
	font-size: 25px;
	border-bottom: 1px solid;
	
}
.my_post_td1{
	border-bottom: 2px solid;
	border-right: 1px solid;
	margin-top: -5%;
	height: 40px !important;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 5%;
}
.my_post_td2{
	border-bottom: 2px solid;
	border-right: 1px solid;
	margin-top: -5%;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 20%;
	font-size: 20px !important;
}
.my_post_td3{
	border-bottom: 2px solid;
	border-right: 1px solid;
	margin-top: -5%;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 60%;
	font-size: 20px !important;
}
.my_post_td4{
	border-bottom: 2px solid;
	border-right: 1px solid;
	margin-top: -5%;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 15%;
	font-size: 20px !important;
}
.my_post_td2 select{
	width: 100%;
	height:100%;
	background: none;
	border: none;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
	font-size: 20px;
}
.my_post_table td{
	height: 10%;
	font-size: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	border-right: 1px solid;
	padding: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.my_post_delete{
	width: 75px;
	height: 30px;
	background-color : black;
	color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
	display: block;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	float:right;
	margin-right: 20px;
	margin-top: 10px;
}
.my_post_modify{
	width: 75px;
	height: 30px;
	background-color : black;
	color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
	display: block;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	float:right;
	margin-right: 20px;
	margin-top: 10px;
}
/* ================ END OF MY_POST ====================== */
/* ================ START OF MY_QNA====================== */
.my_qna_table{	
	width: 100%;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
	font-size: 15px;
	border-bottom: 1px solid;
	table-layout: fixed;	
	}
.my_qna_td1{
	border-bottom: 2px solid;
	border-right: 1px solid;
	margin-top: -5%;
	height: 40px !important;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 20%;
	font-size: 20px !important;
}
.my_qna_td2{
	border-bottom: 2px solid;
	border-right: 1px solid;
	margin-top: -5%;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 40%;
	font-size: 20px !important;
}
.my_qna_td3{
	border-bottom: 2px solid;
	border-right: 1px solid;
	margin-top: -5%;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 40%;
	font-size: 20px !important;
}
.my_qna_table td{
	height: 10%;
	font-size: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	border-right: 1px solid;
	padding: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* ================ END OF MY_QNA ====================== */
/* ================ START OF MY_FRIENDS ====================== */
.myfriend_back1{
	width:45%;
	height:70%;
	position: absolute;
	top:20%;
	right: 50%;
	background-color: white;
	opacity: 0.8;
	margin: 20px;
}
.myfriend_back2{
	width:45%;
	height:70%;
	position: absolute;
	top:20%;
	left: 50%;
	background-color: white;
	opacity: 0.8;
	margin: 20px;
}
.friend_line1{
	width: 98%;
	position: absolute;
	top:50px;
	left:1%;
	background:black;
    height:1px;
    border:0;
}
.friend_line2{
	width: 98%;
	position: absolute;
	top:150px;
	left:1%;
	background:black;
    height:1px;
    border:0;
}
.friend_line3{
	width: 90%;
	position: absolute;
	top:50px;
	left:1%;
	background:black;
    height:1px;
    border:0;
}
.friend_line4{
	width: 90%;
	position: absolute;
	top:50px;
	left:1%;
	background:black;
    height:1px;
    border:0;
}
.myfriend_pagename{
	padding-top: 20px;
	padding-left: 20px;
	text-align: left;
}
.friend_search_check{
	width:100%;
	font-size: 20px;
	position: absolute;
	top:70px;
	left: 20%
}
.search_place{
	margin-right: 10%;
}
.search_place input,
.search_name input{
	margin : 30px;
	height: 20px;
	width: 20px; 	
}
.myfriend_list{
	width:46%;
	height:70%;
	position: absolute;
	top:20%;
	right: 47%;
	margin: 20px;
}
.myfriend_addlist{
	width:46%;
	height:70%;
	position: absolute;
	top:20%;
	left: 52%;
	margin: 20px;
}
.myfriend_list_scroll{
	width:100%; 
	height:80%; 
	overflow:auto;
	margin-top: 5%;	
	}
.myfriend_addlist_scroll{
	width:100%; 
	height:70%; 
	overflow:auto;
	position: absolute;
	top:23%;
}
/*START스크롤 바*/
.friend_play_list_scroll::-webkit-scrollbar,
.myfriend_addlist_scroll::-webkit-scrollbar,
.myfriend_list_scroll::-webkit-scrollbar {
    width: 20px;
  }
.friend_play_list_scroll::-webkit-scrollbar-thumb,
.myfriend_addlist_scroll::-webkit-scrollbar-thumb,
.myfriend_list_scroll::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 5px solid transparent;
}
.friend_play_list_scroll::-webkit-scrollbar-track,
.myfriend_addlist_scroll::-webkit-scrollbar-track,
.myfriend_list_scroll::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
/*END스크롤 바*/
.myfriend_list_table{
	font-size: 15px;
	text-align: center;
	width: 98%;
	margin-left:0%;
	table-layout: fixed;
	border-bottom: 1px solid;
}
.myfriend_list_table td{
	margin-top: -5%;
	height: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 5px;
}
.searchimg{
	position:absolute;
	top:12%;
	left:10%;
	width: 320px;
	height:72px;
	background-image: url("/files/images/mypage/searchbox.png");
 	background-size: contain;
}
.friend_search_input{
	position:absolute;
	top:19%;
	left:4%;
	width:72%;
	height:50%;
	border: none;
}
.friend_search_btn{
	position:absolute;
	top:15%;
	right:4%;
	width: 50px;
	height:50px;
	opacity:0;
}
.send_message a:link,/* 링크컬러블랙 */
.send_message a:visited,/* 방문햇던링크컬러블랙 */
.send_message a:active,
.send_message,
.myfriend_addlist a:link,/* 링크컬러블랙 */
.myfriend_addlist a:visited,/* 방문햇던링크컬러블랙 */
.myfriend_addlist a:active, /* 마우스호버없음 */
.myfriend_addlist a
.myfriend_list a:link,/* 링크컬러블랙 */
.myfriend_list a:visited,/* 방문햇던링크컬러블랙 */
.myfriend_list a:active, /* 마우스호버없음 */
.myfriend_list a{
  text-decoration-line : none;
  color: black;
  text-decoration:none; /* 마우스호버없음 */
}
.friend_play_list_scroll{
	width:95%; 
	height:400px; 
	overflow:auto;
	margin-top: 20%;	
	}
.myfriend_play_list_table{
	opacity: 1 !important;
	width: 350px;
	font-size: 15px;
	text-align: center;
	table-layout: fixed;
	border: 1px solid ghostwhite;
}
.myfriend_play_list{
	background-color: black;
	opacity: 0.8;
	width: 400px;
	align-content: center;	
	margin-top: 10%;
	margin-left:5%;
	display: block;	
}
/* END플레이리스트*/
.friends_profile_img img{
	width: 300px;
}
.friends_profile_intro{
	text-align: left;
}
/* ================ END OF MY_FRIENDS ====================== */
/* ================ START OF MY_PURCHASE ====================== */
.purchase_div{
	text-align: left;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
	font-size: 20px;
	padding: 2%;
}
.purchase_goods{
	width: 800px;
	height: 160px;
	margin:  auto;
}
.purchase_goods table{
	width: 100%;
	border: 1px;
	font-size: 20px;
}
.purchase_goods_tr1 td img{
	margin: 10px;
	width: 100px;
}
.bxslider_size_purchase_book{
	padding-top: 30px;
	padding-left: 50px;
	width: 930px;
}
.purchase_bookimg img{
	margin : auto;
}
purchase_bookname{
	text-align: center;
}
/* ================ END OF MY_PURCHASE ====================== */
/* ================ START OF MY_CONTEST ====================== */
.mycontest_all{
	width: 90%;
	height: 80%;
	margin: auto;
	padding-top: 5%;
	overflow-x: auto;
   	white-space: nowrap;
}
/*START스크롤 바*/
.mycontest_all::-webkit-scrollbar {
    width: 20px;
  }
.mycontest_all::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 5px solid transparent;
    
}
.mycontest_all::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
/*END스크롤 바*/
.mycontest_all table{
	table-layout: fixed;
	width: 30%;
	float: left;
	margin-left: 10%;
	margin-bottom: 10%;
	display:inline-block;
}
.mycontest_img td{
	width: 30%;
	height: 200px;
}
.mycontest_img img{
	margin :auto;
	width: 100%;
}
.mycontest_name td{
	width: 30%;
	padding : 5%;
}
.mycontest_date{
	width: 30%;
	font-size: 20px;
	text-align: right;
}
.mycontest_date td{
	background-color : black;
	color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding:2%;
}
/* ================ END OF MY_CONTEST ====================== */
/* ================ START OF PASSWORD_CHECK ====================== */
.password_check_form{
  padding-top: 100px;
  padding-left: 40px;
  width: 400px;
  height: 400px;
}
.password_check_btn{
	width: 75px;
	height: 30px;
	background-color : black;
	color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
	display: block;
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	float:right;
	margin-top: 20px;
	margin-right: 100px;
}
.password_backpage{
  width:400px;
  height:400px;
  background-image:url("/files/images/wallpaper/배경1.jpg");
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top : 10%;
  box-shadow: 0px 0px 30px 30px black;
}
.password_check_name{
	font-family: NeoDunggeunmo Code, Inter;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
}
.password_check_form input{
	width: 60%;
	height: 30px;
	border: none;
	box-shadow: 0px 0px 10px 10px white;
	margin-left: 10%;
}
/* ================ END OF PASSWORD_CHECK ====================== */
/* ================ END OF MY PAGE ====================== */