<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gulim.dao.AdminDAO">
	
	<!-- 문의사항 리스트 보기 -->
	<select id="listQuestion" resultType="QuestionDTO">
	    select *
	    from question
	    order by question_num DESC
	</select>
		
	<!-- 문의사항 답변하기 -->
	<update id="answerQuestion" parameterType="QuestionDTO">
		UPDATE question SET answer=#{answer}, answer_state=1 WHERE question_num=#{question_num}
	</update>
	
	<!-- 제재 리스트 보기 -->
	<select id="listMember" resultType="MemberDTO">
		select id, nickname, member_state
		from member
	</select>
	
	<!-- 제재 상태 변경 -->
	<update id="changeMemberState" parameterType="MemberDTO">
		update member set member_state=#{member_state} where id=#{id};
	</update>
	
	<!-- 모임장소 리스트 보기 -->
	<select id="listPlace" resultType="PlaceDTO">
	    select *
	    from place
	</select>
	
	<!-- 판매 통계: 전체 연매출 -->
	<select id="salesStatsYear" resultType="HashMap">
		WITH combined_sales AS (
		    SELECT YEAR(bk.purchase_date) AS purchase_year, 
		           SUM(b.price) AS book_price, 
		           0 AS subscribe_price
		    FROM purchase p
		    INNER JOIN book b ON p.book_num = b.book_num
		    INNER JOIN basket bk ON p.basket_num = bk.basket_num
		    GROUP BY YEAR(bk.purchase_date)
		
		    UNION ALL
		
		    SELECT YEAR(s.sub_date) AS purchase_year, 
		           0 AS book_price, 
		           SUM(s.price) AS subscribe_price
		    FROM subscribe s
		    GROUP BY YEAR(s.sub_date)
		)
		SELECT purchase_year, 
		       SUM(book_price) AS total_book_price, 
		       SUM(subscribe_price) AS total_subscribe_price,
		       SUM(book_price) + SUM(subscribe_price) AS total_price
		FROM combined_sales
		GROUP BY purchase_year
		ORDER BY purchase_year DESC
	</select>
	
	<!-- 판매 통계: 구독권별 연매출 -->
	<select id="salesStatsYear_subs" resultType="HashMap">
		select YEAR(sub_date) as sub_date, price, SUM(price) as total_subscribe_price
		from subscribe
		group by YEAR(sub_date), price
	</select>
	
	<!-- 판매 통계: 설정집별 연매출 -->
	<!-- 판매순위 6위부터는 기타로 분류 -->
	<select id="salesStatsYear_book" resultType="HashMap">
		SELECT 
		    purchase_date,
		    CASE
		        WHEN rank &lt;= 3 THEN book_title
		        ELSE '기타'
		    END AS book_title,
		    SUM(total_book_price) AS total_book_price
		FROM
		    (SELECT 
		        purchase_date,
		        book_title,
		        total_book_price,
		        RANK() OVER (PARTITION BY purchase_date ORDER BY total_book_price DESC) AS rank
		    FROM (
		        SELECT 
		            YEAR(bk.purchase_date) AS purchase_date,
		            b.book_title AS book_title,
		            SUM(b.price) AS total_book_price
		        FROM 
		            purchase p
		            INNER JOIN book b ON p.book_num = b.book_num
		            INNER JOIN basket bk ON p.basket_num = bk.basket_num
		        GROUP BY 
		            YEAR(bk.purchase_date), b.book_title
		    ) AS subquery1
		) AS final_subquery
		GROUP BY
		    purchase_date, CASE WHEN rank &lt;= 3 THEN book_title ELSE '기타' END
		ORDER BY
		    purchase_date, total_book_price DESC
	</select>
	
	<!-- 판매 통계: 연도 선택(분기) -->
	<select id="selectYear" resultType="HashMap">
		WITH combined_year AS (
		  SELECT YEAR(purchase_date) AS selectedYear
		  FROM basket
		
		  UNION ALL
		
		  SELECT YEAR(sub_date) AS selectedYear
		  FROM subscribe
		)
		SELECT selectedYear
		FROM combined_year
		group by selectedYear
		ORDER BY selectedYear DESC
	</select>

	<!-- 판매 통계: 전체 분기매출 -->
	<select id="salesStatsQuarter" parameterType="String" resultType="HashMap">
		WITH combined_sales AS (
		    SELECT YEAR(bk.purchase_date) AS purchase_year_qua, 
		    	   QUARTER(bk.purchase_date) as purchase_quarter,
		           SUM(b.price) AS book_price, 
		           0 AS subscribe_price
		    FROM purchase p
		    INNER JOIN book b ON p.book_num = b.book_num
		    INNER JOIN basket bk ON p.basket_num = bk.basket_num
		    GROUP BY YEAR(bk.purchase_date), QUARTER(bk.purchase_date)
		
		    UNION ALL
		
		    SELECT YEAR(s.sub_date) AS purchase_year_qua,
		    	   QUARTER(s.sub_date) as purchase_quarter,
		           0 AS book_price, 
		           SUM(s.price) AS subscribe_price
		    FROM subscribe s
		    GROUP BY YEAR(s.sub_date), QUARTER(s.sub_date)
		)
		SELECT purchase_year_qua, 
			   purchase_quarter,
		       SUM(book_price) AS total_book_price, 
		       SUM(subscribe_price) AS total_subscribe_price,
		       SUM(book_price) + SUM(subscribe_price) AS total_price
		FROM combined_sales
		WHERE purchase_year_qua = #{purchase_year_qua}
		GROUP BY purchase_year_qua, purchase_quarter
		ORDER BY purchase_year_qua DESC, purchase_quarter ASC
	</select>
	
	<!-- 판매 통계: 연도 선택(월) -->
	<select id="selectYear_mon" resultType="HashMap">
		WITH combined_year AS (
		  SELECT YEAR(purchase_date) AS selectedYear
		  FROM basket
		
		  UNION ALL
		
		  SELECT YEAR(sub_date) AS selectedYear
		  FROM subscribe
		)
		SELECT selectedYear
		FROM combined_year
		group by selectedYear
		ORDER BY selectedYear DESC
	</select>
	
	<!-- 판매 통계: 전체 월매출 -->
	<select id="salesStatsMonth" parameterType="String" resultType="HashMap">
		WITH combined_sales AS (
		    SELECT YEAR(bk.purchase_date) AS purchase_year_mon, 
		    	   MONTH(bk.purchase_date) as purchase_month,
		           SUM(b.price) AS book_price, 
		           0 AS subscribe_price
		    FROM purchase p
		    INNER JOIN book b ON p.book_num = b.book_num
		    INNER JOIN basket bk ON p.basket_num = bk.basket_num
		    GROUP BY YEAR(bk.purchase_date), MONTH(bk.purchase_date)
		
		    UNION ALL
		
		    SELECT YEAR(s.sub_date) AS purchase_year_mon,
		    	   MONTH(s.sub_date) as purchase_month,
		           0 AS book_price, 
		           SUM(s.price) AS subscribe_price
		    FROM subscribe s
		    GROUP BY YEAR(s.sub_date), MONTH(s.sub_date)
		)
		SELECT purchase_year_mon, 
			   purchase_month,
		       SUM(book_price) AS total_book_price, 
		       SUM(subscribe_price) AS totalscribe_price,
		       SUM(book_price) + SUM(subscribe_price) AS total_price
		FROM combined_sales
		WHERE purchase_year_mon = #{purchase_year_mon}
		GROUP BY purchase_year_mon, purchase_month
		ORDER BY purchase_year_mon DESC, purchase_month ASC
	</select>
	
	<!-- 판매 통계: 구독권별 월매출 -->
	<select id="salesStatsMonth_subs" parameterType="String" resultType="HashMap">
		select MONTH(sub_date) as purchase_month, price, SUM(price) as total_subscribe_price
		from subscribe
		where YEAR(sub_date) = #{purchase_year_mon}
		group by MONTH(sub_date), price
	</select>
	
	<!-- 판매 통계: 설정집별 월매출 -->
	<select id="salesStatsMonth_book" parameterType="String" resultType="HashMap">
		SELECT 
			purchase_month,
			CASE
			    WHEN rank &lt;= 3 THEN book_title
			    ELSE '기타'
			END AS book_title,
			SUM(total_book_price) AS total_book_price
		FROM
			(SELECT 
			    purchase_month,
			    book_title,
			    total_book_price,
			    RANK() OVER (PARTITION BY purchase_month ORDER BY total_book_price DESC) AS rank
			FROM (
			        SELECT 
			            MONTH(bk.purchase_date) AS purchase_month,
			            b.book_title AS book_title,
			            SUM(b.price) AS total_book_price
			        FROM 
			            purchase p
			            INNER JOIN book b ON p.book_num = b.book_num
			            INNER JOIN basket bk ON p.basket_num = bk.basket_num
			        where year(bk.purchase_date) = #{purchase_year_mon}
			        GROUP BY 
			            MONTH(bk.purchase_date), b.book_title
			    ) AS subquery1
			) AS final_subquery
			GROUP BY
			    purchase_month, CASE WHEN rank &lt;= 3 THEN book_title ELSE '기타' END
			ORDER BY
			    purchase_month, total_book_price desc
	</select>
	
	<!-- 판매 통계: 전체 월매출 -->
	<select id="salesStatsDay" parameterType="String" resultType="HashMap">
		WITH combined_sales AS (
		    SELECT bk.purchase_date as purchase_day,
		           SUM(b.price) AS book_price, 
		           0 AS subscribe_price
		    FROM purchase p
		    INNER JOIN book b ON p.book_num = b.book_num
		    INNER JOIN basket bk ON p.basket_num = bk.basket_num
		    GROUP BY bk.purchase_date
		
		    UNION ALL
		
		    SELECT s.sub_date as purchase_day,
		           0 AS book_price, 
		           SUM(s.price) AS subscribe_price
		    FROM subscribe s
		    GROUP BY s.sub_date
		)
		SELECT purchase_day,
		       SUM(book_price) AS total_book_price, 
		       SUM(subscribe_price) AS total_subscribe_price,
		       SUM(book_price) + SUM(subscribe_price) AS total_price
		FROM combined_sales
		WHERE purchase_day = #{purchase_day}
		GROUP BY purchase_day
		ORDER BY purchase_day DESC
	</select>
	

	<!-- 배송/환불 리스트 보기 -->
	<select id="listRefund" resultType="HashMap">
		SELECT bk.basket_num basket_num, bk.purchase_date purchase_date,
		    CONCAT(b.book_title, IF((SELECT COUNT(*) FROM purchase WHERE basket_num = bk.basket_num) > 1, CONCAT(' 외 ', (SELECT COUNT(*) FROM purchase WHERE basket_num = bk.basket_num) - 1, '권'), '')) book_title,
		    bk.id id, bk.delivery_state delivery_state,
		    SUM(b.price) price
		FROM purchase p
		INNER JOIN book b ON p.book_num = b.book_num
		INNER JOIN basket bk ON p.basket_num = bk.basket_num
		GROUP BY bk.basket_num
		ORDER BY p.purchase_num DESC
	</select>
	
	<!-- 배송/환불 상태 변경 -->
	<update id="changeDeliveryState" parameterType="BasketDTO">
		update basket set delivery_state=#{delivery_state} where basket_num=#{basket_num}
	</update>
	
	<!-- 관리자 글목록 리스트 보기 -->
	<select id="listPost" resultType="HashMap">
		select p.post_num post_num, p.board board, p.post_title post_title, p.post_state post_state, p.writing_date writing_date, c.start_date start_date, c.end_date end_date
		from post p left outer join contest c on p.contest_num = c.contest_num
		ORDER BY p.post_num DESC
	</select>
	
	<!-- 관리자 글 등록상태 변경 -->
	<update id="changePostState" parameterType="PostDTO">
		update post set post_state=#{post_state} where post_num=#{post_num}
	</update>
	
	
	<!-- 관리자 공지사항/이벤트 insert 1 -->
	<insert id="insert_evt_post" parameterType="PostDTO">
		insert into post(post_title, id, writing_date, post_content, board, subject, view_count, post_state) VALUES(#{post_title}, #{id}, CURDATE(), #{post_content}, #{board}, #{board}, 0, 0)
	</insert>
	
	<!-- 관리자 공지사항/이벤트 insert 2 -->
	<insert id="insert_evt_image" parameterType="ImageDTO">
		insert into image(origin_img_name, path, img_size, post_num, id) VALUES(#{origin_img_name}, #{path}, #{img_size}, (SELECT MAX(post_num)FROM post), #{id})
	</insert>
	
	<!-- 관리자 공모전 insert 1 -->
	<insert id="insert_con_post" parameterType="PostDTO">
		insert into post(id, writing_date, board, subject, view_count, post_state, contest_num) 
		VALUES(#{id}, CURDATE(), #{board}, #{board}, 0, 0, (SELECT MAX(contest_num)FROM contest))
	</insert>
	
	<!-- 관리자 공모전 insert 2 -->
	<insert id="insert_con_image" parameterType="ImageDTO">
		insert into image(origin_img_name, path, img_size, post_num, id) 
		VALUES(#{origin_img_name}, #{path}, #{img_size}, (SELECT MAX(post_num)FROM post), #{id})
	</insert>
	
	<!-- 관리자 공모전 insert 3 -->
	<insert id="insert_con_contest" parameterType="ContestDTO">
		insert into contest(contest_title, contest_content, start_date, end_date) 
		VALUES(#{contest_title}, #{contest_content}, #{start_date}, #{end_date})
	</insert>
	
	<!-- 등록된 상품 리스트 보기 -->
	<select id="listProduct" resultType="HashMap">
		select i.path path, b.book_title book_title, b.sale_state sale_state, b.stock stock
		from book b left outer join image i on b.book_num = i.book_num
	</select>
	
	<!-- 선호도 통계: 플레이해본 룰북 -->
	<select id="playedRuleBook" resultType="HashMap" >
		WITH top6 AS (
		    SELECT play_rull
		    FROM survey
		    GROUP BY play_rull
		    ORDER BY COUNT(play_rull) DESC
		    LIMIT 6
		)
		SELECT 
		    CASE 
		        WHEN play_rull IN (SELECT play_rull FROM top6) 
		        THEN play_rull 
		        ELSE '기타' 
		    END AS play_rull, 
		    COUNT(play_rull) AS count_play_rull
		FROM (
		    SELECT 
		        CASE 
		            WHEN play_rull IN (SELECT play_rull FROM top6) 
		            THEN play_rull 
		            ELSE '기타' 
		        END AS play_rull
		    FROM survey
		) AS modified_data
		GROUP BY play_rull
		ORDER BY count_play_rull DESC
	</select>

	<!-- 선호도 통계: 플레이 기간 -->
	<select id="playedTime" resultType="HashMap">
	  SELECT
	    IF((s.play_period &lt; 1 OR s.play_period='없음' OR s.play_period IS null), '0시간',
	      IF(s.play_period &gt;= 1 AND s.play_period &lt; 3, '1~3시간',
	        IF(s.play_period &gt;= 3 AND s.play_period &lt; 6, '3~6시간',
	          IF(s.play_period &gt;= 6 AND s.play_period &lt; 10, '6~10시간',
	            IF(s.play_period &gt;= 10, '10시간 이상', '')
	          )
	        )
	      )
	    ) AS play_period,
	    COUNT(*) AS count_play_period
	  FROM survey s
	  GROUP BY
	    IF((s.play_period &lt; 1 OR s.play_period='없음' OR s.play_period IS null), '0시간',
	      IF(s.play_period &gt;= 1 AND s.play_period &lt; 3, '1~3시간',
	        IF(s.play_period &gt;= 3 AND s.play_period &lt; 6, '3~6시간',
	          IF(s.play_period &gt;= 6 AND s.play_period &lt; 10, '6~10시간',
	            IF(s.play_period &gt;= 10, '10시간 이상', '')
	          )
	        )
	      )
	    )
	  ORDER BY count_play_period DESC
	</select>


	<!-- 선호도 통계: 게임마스터 횟수 -->
	<select id="playedGm" resultType="HashMap" >
		SELECT
		    IF((s.master = 0 OR s.master IS null OR s.master='없음'), '0회',
		      IF(s.master &gt;= 1 AND s.master &lt;= 2, '1~2회',
		        IF(s.master &gt;= 3 AND s.master &lt;= 4, '3~4회',
		          IF(s.master &gt;= 5, '5회 이상', '')
		        )
		      )
		    ) AS master
	    	, COUNT(*) AS count_master
		FROM survey s
		GROUP BY
		    IF((s.master = 0 OR s.master IS null OR s.master='없음'), '0회',
		      IF(s.master &gt;= 1 AND s.master &lt;= 2, '1~2회',
		        IF(s.master &gt;= 3 AND s.master &lt;= 4, '3~4회',
		          IF(s.master &gt;= 5, '5회 이상', '')
		        )
		      )
		    )
	</select>

	<!-- 선호도 통계: 플레이해본 직업 -->
	<select id="playedClass" resultType="HashMap">
		SELECT 
		    CASE 
		        WHEN play_class IN (
		            SELECT play_class 
		            FROM (
		                SELECT play_class, COUNT(play_class) AS count_play_class
		                FROM survey
		                GROUP BY play_class
		                ORDER BY count_play_class DESC
		                LIMIT 6
		            ) AS top6
		        ) THEN play_class
		        ELSE '기타'
		    END AS play_class,
		    SUM(count_play_class) AS count_play_class
		FROM (
		    SELECT 
		        CASE 
		            WHEN play_class IN (
		                SELECT play_class 
		                FROM (
		                    SELECT play_class, COUNT(play_class) AS count_play_class
		                    FROM survey
		                    GROUP BY play_class
		                    ORDER BY count_play_class DESC
		                    LIMIT 6
		                ) AS top6
		            ) THEN play_class
		            ELSE '기타'
		        END AS play_class,
		        COUNT(play_class) AS count_play_class
		    FROM survey
		    GROUP BY play_class
		) AS grouped_data
		GROUP BY play_class
		ORDER BY count_play_class DESC
	</select>

	<!-- 선호도 통계: 플레이해본 장르 -->
	<select id="playedGenre" resultType="HashMap">
		SELECT 
		    CASE 
		        WHEN play_genre IN (
		            SELECT play_genre 
		            FROM (
		                SELECT play_genre, COUNT(play_genre) AS count_play_genre
		                FROM survey
		                GROUP BY play_genre
		                ORDER BY count_play_genre DESC
		                LIMIT 6
		            ) AS top6
		        ) THEN play_genre
		        ELSE '기타'
		    END AS play_genre,
		    SUM(count_play_genre) AS count_play_genre
		FROM (
		    SELECT 
		        CASE 
		            WHEN play_genre IN (
		                SELECT play_genre 
		                FROM (
		                    SELECT play_genre, COUNT(play_genre) AS count_play_genre
		                    FROM survey
		                    GROUP BY play_genre
		                    ORDER BY count_play_genre DESC
		                    LIMIT 6
		                ) AS top6
		            ) THEN play_genre
		            ELSE '기타'
		        END AS play_genre,
		        COUNT(play_genre) AS count_play_genre
		    FROM survey
		    GROUP BY play_genre
		) AS grouped_data
		GROUP BY play_genre
		ORDER BY count_play_genre DESC
	</select>

	<!-- 선호도 통계: 플레이해본 종족 -->
	<select id="playedSpecies" resultType="HashMap">
		SELECT 
		    CASE 
		        WHEN play_species IN (
		            SELECT play_species 
		            FROM (
		                SELECT play_species, COUNT(play_species) AS count_play_species
		                FROM survey
		                GROUP BY play_species
		                ORDER BY count_play_species DESC
		                LIMIT 6
		            ) AS top6
		        ) THEN play_species
		        ELSE '기타'
		    END AS play_species,
		    SUM(count_play_species) AS count_play_species
		FROM (
		    SELECT 
		        CASE 
		            WHEN play_species IN (
		                SELECT play_species 
		                FROM (
		                    SELECT play_species, COUNT(play_species) AS count_play_species
		                    FROM survey
		                    GROUP BY play_species
		                    ORDER BY count_play_species DESC
		                    LIMIT 6
		                ) AS top6
		            ) THEN play_species
		            ELSE '기타'
		        END AS play_species,
		        COUNT(play_species) AS count_play_species
		    FROM survey
		    GROUP BY play_species
		) AS grouped_data
		GROUP BY play_species
		ORDER BY count_play_species DESC
	</select>

	<!-- 선호도 통계: 플레이해보고 싶은 장르 -->
	<select id="wantedGenre" resultType="HashMap">
		SELECT 
		    CASE 
		        WHEN want_genre IN (
		            SELECT want_genre 
		            FROM (
		                SELECT want_genre, COUNT(want_genre) AS count_want_genre
		                FROM survey
		                GROUP BY want_genre
		                ORDER BY count_want_genre DESC
		                LIMIT 6
		            ) AS top6
		        ) THEN want_genre
		        ELSE '기타'
		    END AS want_genre,
		    SUM(count_want_genre) AS count_want_genre
		FROM (
		    SELECT 
		        CASE 
		            WHEN want_genre IN (
		                SELECT want_genre 
		                FROM (
		                    SELECT want_genre, COUNT(want_genre) AS count_want_genre
		                    FROM survey
		                    GROUP BY want_genre
		                    ORDER BY count_want_genre DESC
		                    LIMIT 6
		                ) AS top6
		            ) THEN want_genre
		            ELSE '기타'
		        END AS want_genre,
		        COUNT(want_genre) AS count_want_genre
		    FROM survey
		    GROUP BY want_genre
		) AS grouped_data
		GROUP BY want_genre
		ORDER BY count_want_genre DESC
	</select>

	<!-- 선호도 통계: 다른 사이트 이용 경험 -->
	<select id="otherSite" resultType="HashMap">
		select other_site, count(other_site) count_other_site
		from survey
		group by other_site
		order by count(other_site) DESC
	</select>

	<!-- 인게임 통계: 플레이어 성향 -->
	<select id="preferredPropensity" resultType="HashMap">
		SELECT 
		    CASE 
		        WHEN char_propensity IN (
		            SELECT char_propensity 
		            FROM (
		                SELECT char_propensity, COUNT(char_propensity) AS count_char_propensity
		                FROM character_sheet
		                GROUP BY char_propensity
		                ORDER BY count_char_propensity DESC
		                LIMIT 6
		            ) AS top6
		        ) THEN char_propensity
		        ELSE '기타'
		    END AS char_propensity,
		    SUM(count_char_propensity) AS count_char_propensity
		FROM (
		    SELECT 
		        CASE 
		            WHEN char_propensity IN (
		                SELECT char_propensity 
		                FROM (
		                    SELECT char_propensity, COUNT(char_propensity) AS count_char_propensity
		                    FROM character_sheet
		                    GROUP BY char_propensity
		                    ORDER BY count_char_propensity DESC
		                    LIMIT 6
		                ) AS top6
		            ) THEN char_propensity
		            ELSE '기타'
		        END AS char_propensity,
		        COUNT(char_propensity) AS count_char_propensity
		    FROM character_sheet
		    GROUP BY CASE 
		            WHEN char_propensity IN (
		                SELECT char_propensity 
		                FROM (
		                    SELECT char_propensity, COUNT(char_propensity) AS count_char_propensity
		                    FROM character_sheet
		                    GROUP BY char_propensity
		                    ORDER BY count_char_propensity DESC
		                    LIMIT 6
		                ) AS top6
		            ) THEN char_propensity
		            ELSE '기타'
		        END
		) AS grouped_data
		GROUP BY char_propensity
		ORDER BY count_char_propensity DESC
		</select>

	<!-- 인게임 통계: 직업 선호 -->
	<select id="preferredClass" resultType="HashMap">
		SELECT 
		    CASE 
		        WHEN char_class IN (
		            SELECT char_class 
		            FROM (
		                SELECT char_class, COUNT(char_class) AS count_char_class
		                FROM character_sheet
		                GROUP BY char_class
		                ORDER BY count_char_class DESC
		                LIMIT 6
		            ) AS top6
		        ) THEN char_class
		        ELSE '기타'
		    END AS char_class,
		    SUM(count_char_class) AS count_char_class
		FROM (
		    SELECT 
		        CASE 
		            WHEN char_class IN (
		                SELECT char_class 
		                FROM (
		                    SELECT char_class, COUNT(char_class) AS count_char_class
		                    FROM character_sheet
		                    GROUP BY char_class
		                    ORDER BY count_char_class DESC
		                    LIMIT 6
		                ) AS top6
		            ) THEN char_class
		            ELSE '기타'
		        END AS char_class,
		        COUNT(char_class) AS count_char_class
		    FROM character_sheet
		    GROUP BY CASE 
		            WHEN char_class IN (
		                SELECT char_class 
		                FROM (
		                    SELECT char_class, COUNT(char_class) AS count_char_class
		                    FROM character_sheet
		                    GROUP BY char_class
		                    ORDER BY count_char_class DESC
		                    LIMIT 6
		                ) AS top6
		            ) THEN char_class
		            ELSE '기타'
		        END
		) AS grouped_data
		GROUP BY char_class
		ORDER BY count_char_class DESC
	</select>

	<!-- 종족 선호 -->
	<select id="preferredSpecies" resultType="HashMap">
		SELECT 
		    CASE 
		        WHEN species IN (
		            SELECT species 
		            FROM (
		                SELECT species, COUNT(species) AS count_species
		                FROM character_sheet
		                GROUP BY species
		                ORDER BY count_species DESC
		                LIMIT 6
		            ) AS top6
		        ) THEN species
		        ELSE '기타'
		    END AS species,
		    SUM(count_species) AS count_species
		FROM (
		    SELECT 
		        CASE 
		            WHEN species IN (
		                SELECT species 
		                FROM (
		                    SELECT species, COUNT(species) AS count_species
		                    FROM character_sheet
		                    GROUP BY species
		                    ORDER BY count_species DESC
		                    LIMIT 6
		                ) AS top6
		            ) THEN species
		            ELSE '기타'
		        END AS species,
		        COUNT(species) AS count_species
		    FROM character_sheet
		    GROUP BY CASE 
		            WHEN species IN (
		                SELECT species 
		                FROM (
		                    SELECT species, COUNT(species) AS count_species
		                    FROM character_sheet
		                    GROUP BY species
		                    ORDER BY count_species DESC
		                    LIMIT 6
		                ) AS top6
		            ) THEN species
		            ELSE '기타'
		        END
		) AS grouped_data
		GROUP BY species
		ORDER BY count_species DESC -- d
	</select>
	
	<!-- 직업 종류 -->
	<select id="classForStats" resultType="HashMap">
		select char_class
		from character_sheet
		group by char_class
	</select>

	<!-- 종족에 따른 스탯 선호도 -->
	<select id="preferredStatsByClasses" parameterType="String" resultType="HashMap">
		select avg(str) avg_str, avg(dex) avg_dex, avg(con) avg_con, avg(intelligence) avg_intelligence, avg(wis) avg_wis, avg(chr) avg_chr
		from character_sheet
		where char_class = #{char_class}
		group by char_class
	</select>

</mapper>
