<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gulim.dao.ChatDataDAO">

	<select id="getRoomInfo" parameterType="Integer" resultType="HashMap">
		SELECT * FROM chating
		WHERE room_num = #{room_num}
	</select>
	
	<select id="getJoinNumByRoomNum" parameterType="Integer" resultType="Integer">
		SELECT join_num FROM `join`
		WHERE room_num = #{room_num}
	</select>
	
	<select id="getSheetByJoinNum" parameterType="Integer" resultType="HashMap">
		SELECT * FROM character_sheet
		WHERE join_num = #{join_num}
	</select>
	
	<select id="getSkillsBySheetNum" parameterType="Integer" resultType="HashMap">
		SELECT skill_num, skill_name, skill_detail FROM skill
		WHERE sheet_num = #{sheet_num}
	</select>
	
	<select id="getIdByJoinNum" parameterType="Integer" resultType="String">
		SELECT id FROM `join`
		WHERE join_num = #{join_num}
	</select>
	
	<select id="getNicknameById" parameterType="String" resultType="String">
		SELECT nickname FROM member
		WHERE id = #{id}
	</select>
	
	<select id="getInventoryByJoinNum" parameterType="Integer" resultType="HashMap">
		SELECT inventory_num, money FROM inventory
		WHERE join_num = #{join_num}
	</select>
	
	<select id="getItemsByInvenNum" parameterType="Integer" resultType="HashMap">
		SELECT item_num, item_name, item_amount, item_weight, item_detail, equip_state FROM item
		WHERE inventory_num = #{inventory_num}
	</select>
	
	<select id="getMasterMemos" parameterType="Integer" resultType="HashMap">
		SELECT memo_num, memo_content FROM memo
		WHERE room_num = #{room_num}
	</select>
	
	<select id="getMemosByJoinNum" parameterType="Integer" resultType="HashMap">
		SELECT memo_num, memo_content FROM memo
		WHERE join_num = #{join_num}
	</select>

</mapper>
