<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gulim.dao.CommunityDAO">

	<!-- post 테이블 전체 컬럼 -->
	<sql id="postColumns">
		post_title
		, id
		, writing_date
		, post_content
		, board				<!-- 게시판(자유, 이벤트, 공지, 공모전) -->
		, subject
		, view_count
		, post_state      <!-- 등록상태(0-기본값(게시중) / 1-삭제된게시글(게시중단)) -->
	</sql>



	<!-- 게시글 저장 -->
	<insert id="save" parameterType="project.gulim.domain.PostDTO">
		INSERT INTO post (
		<include refid="postColumns" />
		) VALUES (
		#{post_title}
		, #{id}
		, NOW()
		, #{post_content}
		, '자유'
		, #{subject}
		, 0
		, 0
		)
	</insert>

	<!-- 게시글 이미지 저장 -->
	<insert id="saveImage" parameterType="project.gulim.domain.ImageDTO">
		INSERT INTO image
		(post_num, origin_img_name, `path`, img_size)
		VALUES
		( (SELECT MAX(post_num)FROM post)
		, #{origin_img_name}, #{path}, #{img_size})
	</insert>



	<!-- 게시글 상세정보 조회 -->
	<select id="findByNum" parameterType="int" resultType="project.gulim.domain.PostDTO">
		SELECT *
		FROM post LEFT OUTER JOIN image
		ON post.post_num = image.post_num
		WHERE
		post.post_num = #{post_num}
	</select>
	
	<!-- 해당 게시글 이미지 조회 -->
	<select id="findImagesByPostNum" parameterType="int" resultType="project.gulim.domain.ImageDTO">
		SELECT *
		FROM image
		WHERE post_num = #{post_num}
	</select>


	<!-- 게시글 수정 -->
	<update id="update" parameterType="project.gulim.domain.PostDTO">
		UPDATE post
		SET
		post_title = #{post_title}
		,subject = #{subject}
		,post_content = #{post_content}
		WHERE
		post_num = #{post_num}
	</update>
	
	<update id="updateImage" parameterType="project.gulim.domain.ImageDTO">
		UPDATE image
		(post_num, origin_img_name, `path`, img_size)
		SET
		#{post_num}, #{origin_img_name}, #{path}, #{img_size}
	</update>


	<!-- 게시글 삭제 -->
	<update id="deleteByPostNum" parameterType="int">
		UPDATE post
		SET
		post_state = 1
		WHERE
		post_num = #{post_num}
	</update>


	<!-- 자유게시판 게시글 리스트 조회 -->
	<select id="findAll" resultType="project.gulim.domain.PostDTO">
		SELECT *
		FROM post LEFT OUTER JOIN image
		ON post.post_num = image.post_num
		WHERE
		post.post_state = 0
		AND
		post.board = '자유'
		ORDER BY
		post.post_num DESC
		LIMIT #{start}, #{size}
	</select>
	
	<!-- 자유 게시판 게시글 수 카운팅 -->
    <select id="count" resultType="int">
        SELECT
            COUNT(*)
        FROM
            post
        WHERE
            post_state = 0
        AND
			post.board = '자유'
    </select>


	<!-- 공지사항 조회 -->
	<select id="findAnnounce" resultType="map">
		SELECT *
		FROM post LEFT OUTER JOIN image
		ON post.post_num = image.post_num
		WHERE
		post.post_state = 0
		AND
		post.board = '공지사항'
		ORDER BY
		post.post_num DESC
	</select>
	
	
	<!-- 공지사항 이미지 조회 -->
	<select id="findAllAnnounceImg" resultType="project.gulim.domain.ImageDTO">
		SELECT *
		FROM image
		WHERE post_num = #{post_num}
	</select>
	
	
	
	<!-- 이벤트 조회 -->
	<select id="findAllEvent" resultType="project.gulim.domain.PostDTO">
		SELECT *
		FROM post 
		WHERE
		post.board = '이벤트'
		ORDER BY
		post.post_num DESC
	</select>
	
	<!-- 이벤트 이미지 조회 -->
	<select id="findEventImg" resultType="project.gulim.domain.ImageDTO">
		SELECT image.origin_img_name , image.post_num
		FROM post LEFT OUTER JOIN image
		ON post.post_num = image.post_num
		WHERE
		post.board = '이벤트'
		ORDER BY
		post.post_num DESC
	</select>
	
	<!-- 공모전 조회 -->
	<!-- <select id="findAllContest" resultType="project.gulim.domain.ContestDTO">
		select *
		from contest c left outer join post p 
		ON c.contest_num =  p.contest_num
	</select>
	
	공모전 이미지 조회
	<select id="findContestImg" resultType="project.gulim.domain.ImaageDTO">
		select *
		from contest c left outer join post p 
		ON c.contest_num =  (select p2.contest_num 
								from post p2 left outer join image i
								on p2.post_num = i.post_num
								where p2.post_state =1)    
	</select>-->

</mapper>
