<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gulim.dao.Customer_serviceDAO">

	<insert id="send_question">
		
		insert into question(question_title,question_content,id,answer,answer_state,question_type)
					values(#{question_title},#{question_content},#{id},"답변준비중입니다.",0,#{question_type})
	</insert>

</mapper>
