<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gulim.dao.GameDAO">

	<insert id="room_insert" parameterType="ChatingDTO" useGeneratedKeys="true" keyProperty="room_num">
		INSERT INTO chating(room_name, max_member, video, watching, period, plot, law, etc, id)
		VALUES (#{room_name}, #{max_member}, #{video}, #{watching}, #{period}, #{plot}, #{law}, #{etc}, #{id})
	</insert>
	
	<insert id="room_img_insert" parameterType="ImageDTO">
		INSERT INTO image(origin_img_name, path, img_size, room_num)
		VALUES (#{origin_img_name}, #{path}, #{img_size}, #{room_num})
	</insert>
	
	<insert id="tag_insert" parameterType="TagDTO">
		INSERT INTO tag(room_num, tag_content)
		VALUES (#{room_num}, #{tag_content})
	</insert>
	
	<select id="select_room_list" resultType="Map">
		SELECT * FROM chating
		WHERE room_state = 0
	</select>
	
	<select id="select_tag_by_room_num" resultType="String" parameterType="Integer">
		SELECT tag_content FROM tag
		WHERE room_num = #{room_num}
	</select>
	
	<select id="select_nickname_by_id" resultType="String" parameterType="String">
		SELECT nickname FROM member
		WHERE id = #{id}
	</select>
	
	<select id="select_room_detail" parameterType="Integer" resultType="Map">
		SELECT room_num, room_name, id, plot, law, max_member, curr_member, etc FROM chating
		WHERE room_num = #{room_num}
	</select>
	
	<select id="select_room_img" parameterType="Integer" resultType="String">
		SELECT path FROM image
		WHERE room_num = #{room_num}
	</select>
	
	<insert id="insert_join" parameterType="JoinDTO" useGeneratedKeys="true" keyProperty="join_num">
		INSERT INTO `join`(room_num, id)
		VALUES (#{room_num}, #{id})
	</insert>
	
	<insert id="insert_sheet" parameterType="CharacterSheetDTO" useGeneratedKeys="true" keyProperty="sheet_num">
		INSERT INTO character_sheet(join_num, char_name, char_propensity, char_class, species, str, dex, con, intelligence, wis, chr, char_explain, char_etc)
		VALUES (#{join_num}, #{char_name}, #{char_propensity}
		, #{char_class}, #{species}, #{str}, #{dex}, #{con}
		, #{intelligence}, #{wis}, #{chr}, #{char_explain}, #{char_etc})
	</insert>
	
	<insert id="insert_inventory" parameterType="InventoryDTO" useGeneratedKeys="true" keyProperty="inventory_num">
		INSERT INTO inventory(join_num, money)
		VALUES (#{join_num}, #{money})
	</insert>
	
	<insert id="insert_skill" parameterType="SkillDTO">
		INSERT INTO skill(sheet_num, skill_name, skill_detail)
		VALUES (#{sheet_num}, #{skill_name}, #{skill_detail})
	</insert>
	
	<insert id="insert_item" parameterType="ItemDTO">
		INSERT INTO item(inventory_num, item_name, item_amount, item_weight, item_detail, equip_state)
		VALUES (#{inventory_num}, #{item_name}, #{item_amount}, #{item_weight}, #{item_detail}, #{equip_state})
	</insert>
	
	<select id="select_join" parameterType="JoinDTO" resultType="Integer">
		SELECT join_num FROM `join`
		WHERE id = #{id} AND room_num = #{room_num} AND join_state != 2
	</select>
	<select id="support_data"  resultType="java.util.HashMap">
		SELECT s.s_img_num num, s.s_img_title title,  s.s_img_type category, i.path path
		FROM support_img_board s INNER JOIN image i
		ON s.s_img_num = i.s_img_num;
	</select>
	<insert id="etc" parameterType = "java.util.HashMap">
		INSERT INTO image (origin_img_name,path, s_img_num) 
		VALUES (#{originFilename}, #{filepath}, #{s_img_num})	
	</insert>
	<insert id="etc2" parameterType = "SupportImgBoardDTO"  useGeneratedKeys="true" keyProperty="s_img_num">
		INSERT INTO support_img_board (s_img_title, s_img_type) 
		VALUES (#{s_img_title}, #{s_img_type})	
	</insert>
</mapper>
