<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gulim.dao.GameDAO">

	<insert id="room_insert" parameterType="ChatingDTO" useGeneratedKeys="true" keyProperty="room_num">
		INSERT INTO chating(room_name, max_member, video, watching, period, plot, law, etc, id)
		VALUES (#{room_name}, #{max_member}, #{video}, #{watching}, #{period}, #{plot}, #{law}, #{etc}, #{id})
	</insert>
	
	<insert id="room_img_insert" parameterType="ImageDTO">
		INSERT INTO image(origin_img_name, path, img_size, room_num)
		VALUES (#{origin_img_name}, #{path}, #{img_size}, #{room_num})
	</insert>
	
	<insert id="tag_insert" parameterType="TagDTO">
		INSERT INTO tag(room_num, tag_content)
		VALUES (#{room_num}, #{tag_content})
	</insert>
	
	<select id="select_room_list" resultType="Map">
		SELECT * FROM chating
		WHERE room_state = 0
	</select>
	
	<select id="select_tag_by_room_num" resultType="String" parameterType="Integer">
		SELECT tag_content FROM tag
		WHERE room_num = #{room_num}
	</select>
	
	<select id="select_nickname_by_id" resultType="String" parameterType="String">
		SELECT nickname FROM member
		WHERE id = #{id}
	</select>

</mapper>
