<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gulim.dao.GameDAO">

	<insert id="room_insert" parameterType="ChatingDTO" useGeneratedKeys="true" keyProperty="room_num">
		INSERT INTO chating(room_name, max_member, video, watching, period, plot, law, etc, id)
		VALUES (#{room_name}, #{max_member}, #{video}, #{watching}, #{period}, #{plot}, #{law}, #{etc}, #{id})
	</insert>
	
	<insert id="room_img_insert" parameterType="ImageDTO">
		INSERT INTO image(origin_img_name, path, img_size, room_num)
		VALUES (#{origin_img_name}, #{path}, #{img_size}, #{room_num})
	</insert>
	
	<insert id="tag_insert" parameterType="TagDTO">
		INSERT INTO tag(room_num, tag_content)
		VALUES (#{room_num}, #{tag_content})
	</insert>
	
	<select id="select_room_list" resultType="Map">
		SELECT * FROM chating
		WHERE room_state = 0
	</select>
	
	<select id="select_tag_by_room_num" resultType="String" parameterType="Integer">
		SELECT tag_content FROM tag
		WHERE room_num = #{room_num}
	</select>
	
	<select id="select_nickname_by_id" resultType="String" parameterType="String">
		SELECT nickname FROM member
		WHERE id = #{id}
	</select>
	
	<select id="select_room_detail" parameterType="Integer" resultType="Map">
		SELECT room_num, room_name, id, plot, law, max_member, curr_member FROM chating
		WHERE room_num = #{room_num}
	</select>
	
	<select id="select_room_img" parameterType="Integer" resultType="String">
		SELECT path FROM image
		WHERE room_num = #{room_num}
	</select>
	
	<select id="select_join" parameterType="JoinDTO" resultType="Integer">
		SELECT join_num FROM `join`
		WHERE id = #{id} AND room_num = #{room_num} AND join_state != 2
	</select>
	<select id="support_data"  resultType="java.util.HashMap">
		SELECT s.s_img_num num, s.s_img_title title,  s.s_img_type category, i.path path
		FROM support_img_board s INNER JOIN image i
		ON s.s_img_num = i.s_img_num;
	</select>
	<insert id="etc" parameterType = "java.util.HashMap">
		INSERT INTO image (origin_img_name,path, s_img_num) 
		VALUES (#{originFilename}, #{filepath}, #{s_img_num})	
	</insert>
	<insert id="etc2" parameterType = "SupportImgBoardDTO"  useGeneratedKeys="true" keyProperty="s_img_num">
		INSERT INTO support_img_board (s_img_title, s_img_type) 
		VALUES (#{s_img_title}, #{s_img_type})	
	</insert>
</mapper>
