<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gulim.dao.MainDAO">

	<select id="sLoginCheck" parameterType="MemberDTO" resultType="String">
		SELECT id FROM member
		WHERE email = #{email} AND regist_type = #{regist_type}
	</select>
	
	<select id="loginCheck" parameterType="MemberDTO" resultType="String">
		SELECT password FROM member
		WHERE id=#{id}
	</select>
	
	<select id="idCheck" parameterType="String" resultType="String">
		SELECT id FROM member
		WHERE id = #{id}
	</select>
	
	<insert id="regist" parameterType="MemberDTO">
		INSERT INTO member(id, password, name, address, tel, email, nickname, birthday, regist_type)
		VALUES (#{id}, #{password}, #{name}, #{address}, #{tel}, #{email}, #{nickname}, #{birthday}, #{regist_type})
	</insert>
	
	<select id="selectById" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM member
		WHERE id = #{id}
	</select>
	
	<insert id="serveyInsert" parameterType="SurveyDTO">
		INSERT INTO survey(play_rull, play_genre, play_period, play_species, master, want_genre, play_class, other_site, id)
		VALUES (#{play_rull}, #{play_genre}, #{play_period}, #{play_species}, #{master}, #{want_genre}, #{play_class}, #{other_site}, #{id})
	</insert>
	
	<insert id="insertJWT" parameterType="JwtDTO">
		INSERT INTO jwt(access_token, refresh_token, access_token_valid, refresh_token_valid, id)
		VALUES (#{access_token}, #{refresh_token}, #{access_token_valid}, #{refresh_token_valid}, #{id})
	</insert>
	
	<select id="selectRefreshByAccess" parameterType="String" resultType="String">
		SELECT refresh_token FROM jwt
		WHERE access_token = #{access_token} AND jwt_state = 0
	</select>
	
	<select id="selectExpiration" parameterType="String" resultType="Date">
		SELECT refresh_token_valid FROM jwt
		WHERE refresh_token = #{refresh_token} AND jwt_state = 0
	</select>
	
	<update id="setJwtStateDiscard" parameterType="String">
		UPDATE jwt SET jwt_state = 1
		WHERE access_token = #{access_token}
	</update>

</mapper>
