<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gulim.dao.MypageDAO">

	<select id="mypage_password_check" parameterType="MemberDTO" resultType="String">
		SELECT password FROM member
		WHERE id=#{id} 
	</select>
	
	<select id="find_info" parameterType="MemberDTO" resultType="Map">
		SELECT name,address,tel,email,nickname,birthday,introduce
		FROM member
		WHERE id=#{id}
	</select>
	
	<update id="modify_info" parameterType="MemberDTO">
		UPDATE 	 member 
		SET		 name		= #{name}
				,nickname	= #{nickname}
				,address	= #{address}
				,tel		= #{tel}
				,introduce 	= #{introduce}
		WHERE 	 id = #{id}
	</update>
	
	<insert id="modify_info_img" parameterType = "java.util.HashMap">
		INSERT INTO image (origin_img_name, path, id) 
		VALUES (#{originFilename}, #{filepath}, #{id})	
	</insert>
	
	<delete id="modify_info_imgDelete" parameterType = "java.util.HashMap">
		DELETE FROM image 
		WHERE id = #{id}
	</delete>

	<select id ="find_info_img" parameterType="MemberDTO" resultType="String">
		SELECT path
		FROM image
		WHERE id = #{id}
	</select>
</mapper>
