<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gulim.dao.OfflineDAO">

	<select id="mapMarker" resultType="PlaceDTO" parameterType="PlaceDTO">
		select * from place		
	</select>


	<select id="showPartnership" resultType="PlaceDTO" parameterType="PlaceDTO">
		
		select place_name,place_address,tel,latitude,longitude from place where partnership = 1;
		
	</select>


</mapper>
