<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gulim.dao.SaleDAO">

	<select id="sales" resultType="map">

		SELECT * FROM book b 
		LEFT OUTER JOIN image i 
		ON b.book_num = i.book_num
		LEFT OUTER JOIN 
		(SELECT book_num, sum(amount) amount  FROM purchase WHERE book_num IS NOT NULL AND purchase_state = 1 GROUP BY book_num) p
		ON b.book_num = p.book_num
		ORDER BY p.amount DESC
		
	</select>


	<select id="product_detail" resultType="HashMap" parameterType="BookDTO">
	SELECT *
	FROM book b
	INNER join image i 
	ON b.book_num =i.book_num
	WHERE b.book_num = #{book_num}
	
	</select>



</mapper>
