<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.gulim.dao.SaleDAO">

	<select id="sales" resultType="map">

		SELECT SUM(p.amount) AS total_amount, b.book_title, b.genre, b.adult, i.`path`, b.book_num
		FROM book b
		INNER JOIN image i ON b.book_num = i.book_num
		INNER JOIN purchase p ON p.book_num = b.book_num
		GROUP BY b.book_num, b.book_title, b.genre, b.adult, i.`path`
		ORDER BY total_amount DESC
		LIMIT 4;
		
	</select>


	<select id="product_detail" resultType="HashMap" parameterType="BookDTO">
	SELECT *
	FROM book b
	INNER join image i 
	ON b.book_num =i.book_num
	WHRER b.book_num = #{book_num}
	
	</select>



</mapper>
