@charset "utf-8";

/* ================START OF FONT============================== */
/* Neo�ձٸ� Code */
@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm_code/style.css');
/* ================END OF FONT============================== */

/* ================START OF SIDEBAR============================== */
.logo-image{
	position: relative; 
	top: -2px; 
	right: -14px;
	width: 190px;
	height: 68px;
}

img.logo-image2{
	position: relative; 
	top: -2px; 
	right: -4.5px;
	width: 32px;
	height: 32px;
}

li.nav-label{
	color: #b3b3be;
}

.quixnav .metismenu > li.mm-active-selected > a {
        background-color: #6b11df;
        color: #fff; }
/* ================END OF SIDEBAR============================== */


/* ================START OF HEADER============================== */
.header_logo{
	display: inline;
	
}
.header_logo img{
	height: 50px;
	display: inline;
	padding-top: 10px;
	padding-left: 20px;
}
.header_nav{
	font-family: 'NeoDunggeunmo Code';
	font-size: 15px;
	color: white;
	margin-right: 20px;
	padding-top: 25px;
	display: inline;
	float: right;
}
.header_nav td {
	padding-right : 15px;
	text-align: center;
}

  .text-uppercase {
	top: 10px;
	position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .text-uppercase ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .text-uppercase li {
	  margin-left: 1.0rem;
    margin-right: 2.0rem; /* 간격을 1.5rem으로 조정 */
  }

  .text-uppercase li:not(:last-child)::after {
    content: "|";
    margin-left: 3.0rem;
    color: #000;
  }

.tab_active{
	color:#6b11df
}

.tab_inactive{
	color:#000;
}

/* ================END OF HEADER============================== */

/* ================START OF question============================== */

.text_answer{
	overflow: hidden; /* 내용이 넘치면 숨기기 */
	position: absolute; width: 100%; height: 100%;
 	border: 2px solid firebrick;
  	background-color:#f9f9f9;
  	top: 0px;
  	left: 0px;
}



/* ================END OF question============================== */

/* ================START OF member_management============================== */



/* ================END OF member_management============================== */

/* ================START OF place_list============================== */

.text_gameList{
	overflow: hidden; /* 내용이 넘치면 숨기기 */
	position: absolute; width: 100%; height: 100%;
 	border: 2px solid firebrick;
  	background-color:#f9f9f9;
  	top: 0px;
  	left: 0px;
}

.btn_right{
	text-align: right;
}

button.showAll {
  width: 280px; /* 원하는 너비 값으로 변경하세요 */
  height: 35px; /* 원하는 높이 값으로 변경하세요 */
}

button.showAffiliateOnly {
  width: 280px; /* 원하는 너비 값으로 변경하세요 */
  height: 35px; /* 원하는 높이 값으로 변경하세요 */
}

/* ================END OF place_list============================== */

/* ================START OF insert_form============================== */
.selectYear{
	border: 0px;
	background-color:rgba(0, 0, 0, 0.00);
}
/* ================END OF place_list============================== */

/* ================START OF insert_form============================== */
.note-popover {
    display: none !important;
}

/* ================END OF insert_form============================== */

/* ================START OF product============================== */

	table.productTable thead th:nth-child(1) {
		color: white;
		user-select: none; cursor: not-allowed; pointer-events: none;
		
}
	table.productTable thead th.sorting:nth-child(1) {
		background-image: url();
}
	table.productTable thead th.sorting_asc:nth-child(1) {
		background-image: url();
}
	table.productTable thead th.sorting_desc:nth-child(1) {
		background-image: url();
}

/* ================END OF product============================== */

/* ================START OF game_stats============================== */

.ct-label {
  font-size: 36px;
}

/* ================END OF game_stats============================== */

/* ================START OF FOOTER============================== */
/* Ǫ�� ��ü */
.footer {
	background-color: #343957;
	height: 200px;
	align-items: center;
}



/* Ǫ�� ����(1��) */
.footer_left{
	font-family: 'NeoDunggeunmo Code';
	font-size: 15px;
	color: white;
	display: inline;
	float:left;
	width:40%;
	margin-left: 10%;
}

/* Ǫ�� ���� ��Ʈ ������ */
.footer_left a {
	font-size: 10px;
	
}

/* Ǫ�� ����(2��) */
.footer_right{
	font-family: 'NeoDunggeunmo Code';
	font-size: 10px;
	color: white;
	display: inline;
	float: right;
	width:30%;
	padding-top: 2%;
}

/* Ǫ�� ���� ��ġ���� */
.footer_right a{
	margin-right: 20px;
}

/* Ǫ�� ���� info���� ��ġ���� */
.footer_info{
	padding-top: 5%;
}
/* ================END OF FOOTER============================== */

/* ================START OF MAIN.jsp============================== */
/* ��� */
.backpage {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1); /* <======���� �̹��������� ��׶��� �ٲ� */
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
/* �����ø޼���1 */
.marketing_messge1 {
  width: 600px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 160px;
  left: 208px;
  font-family: NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
/* �����ø޼���2 */
.marketing_messge2 {
  width: 500px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 300px;
  left: 227px;
  font-family:NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
/* �α����� */
.loginform_back {
  width: 379px;
  height: 442px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 131px;
  right: 10%;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.loginform_login {
  width: 121px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 154px;
  right: 10%;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.password_input {
  width: 323px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 420px;
  right: 213px;
  overflow: hidden;
}
.id_input {
  width: 323px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 286px;
  right: 213px;
  overflow: hidden;
}
.loginform_id {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 243px;
  right: 25%;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.loginform_password {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 373px;
  right: 25%;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.loginform_submit{
  width: 98px;
  color: rgba(255,255,255,1);
  background: rgba(217,217,217,1);
  position: absolute;
  top: 498px;
  right: 200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.go_regist{
  width: 323px;
  height: 50px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 739px;
  right: 11%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  font-family:NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 30px;
}
.kakaologin_Btn {
  width: 323px;
  height: 50px;
  background: rgba(217,217,217,1);
  color: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 605px;
  right: 11%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  font-family:NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 30px;
}
.googlelogin_Btn{
  width: 323px;
  height: 50px;
  background: rgba(217,217,217,1);
  color: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 670px;
  right: 11%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  font-family:NeoDunggeunmo Code, Inter;
  font-weight: Regular;
  font-size: 30px;
}

/* ================END OF MAIN.jsp============================== */